<aside class="modal-popup confirm" data-role="modal" data-type="popup" tabindex="0" style="z-index: 900;" >
		    
		    <div data-role="focusable-start" tabindex="0"></div>
		    
		    <div class="modal-inner-wrap" data-role="focusable-scope" onclick="(function(e) { e.stopPropagation(); })(event);" >
		        
		        <header class="modal-header">		            
		            <h1 class="modal-title" data-role="title"></h1>
		            
		            <button class="action-close" data-role="closeBtn" type="button"  onclick="close_multiple_product_popup()" >
		                <span>Close</span>
		            </button>
		        </header>
		        
		        <div class="modal-content" data-role="content" >
		        	
		        	<table class="center-block tablesorter" >

						<tbody> 
							
							<tr class="no-back inner_content_table">
												
								<td colspan="5" >
									
									<div class="inner_price_tr inner_price_tr<?php echo $i; ?>" style="height:auto;" >
										
										<div class="sloped_price sloped_price<?php echo $i; ?>">
											
											<label  class="heading">MARKET PRICING MODEL</label>
									
											<form id="form_submit<?php echo $i; ?>" action="<?php //echo $block->getUrl('buyr/productmanagement/publishproduct'); ?>" >
									            
									            <input name="form_key" type="hidden" value="<?php //echo $block->getFormKey(); ?>" />
									            <input type="hidden" name="product_id" value="<?php //echo $all_products_new->getId(); ?>">
									            
												<table>
													<tr class="no-back">
														<td class="padding-left-0">
															<label>MSRP</label>
															<input type="text" name="product_msrp" value="<?php //echo $_product->getMsrp(); ?>" />
														</td>
														<td>
															<label>Map price</label>
															<input type="text" />
														</td>
														<td>
															<label>Cost</label>
															<input type="text" name="product_cost" value="<?php //echo $_product->getCost(); ?>" />
														</td>
														<td>
															<label>Inventory</label>
															<input type="text" name="product_quantity" value="<?php //echo $quantity; ?>" />
														</td>
													</tr>									
													<tr class="no-back add_remove_images">
														<td colspan="2"  class="padding-left-0">
															<label>Advanced Pricing <img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/question.png'); ?>" /> </label> 
															<select class="select4 select_pricing color-8734a3" onchange="select_popup_pricing(jQuery(this))" >
																<option value="sloped_price" >Sloped Pricing</option>
																<option value="tiered_price">Tiered Pricing</option>
															</select>
														</td>
														<td>
															<label>Starting pricing</label>
															<input type="text"   />
														</td>
														<td>
															<label>Price change</label>
															<input type="text"  />
														</td>
													</tr>									
													<tr class="no-back">
														<td colspan="2" class="padding-left-0">
															<label>Timeframe</label>
															<select >
																<option>Reset</option>
																<option>Reset</option>
																<option>Reset</option>
															</select>
														</td>
														<td colspan="2">
															<label></label>
															<select >
																<option>Every Week</option>
																<option>Every Week</option>
																<option>Every Week</option>
															</select>
														</td>
													</tr>								
													
													<tr class="no-back add_remove_images">										
														
														<td colspan="2" class="padding-left-0">												
															<label  class="heading">Fulfillment</label>
															<div class="clearfix"></div>
															
															<div>Enable In-Store Pickup <img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/plus.png'); ?>" /></div>
															<div class="clearfix" style="margin-top:5px;"></div> 
															<div>Enable Same Day Delivery <img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/minus.png'); ?>" /></div>
															<div class="clearfix"></div> 
														</td>
														
														<td colspan="2" class="padding-left-0">																						
															<label class="heading"></label>												
															<div class="clearfix"></div>
															
															<div>Enable In-Store Pickup <img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/plus.png'); ?>" /></div>
															<div class="clearfix" style="margin-top:5px;"></div> 
															<div>Enable Same Day Delivery <img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/minus.png'); ?>" /></div>
															<div class="clearfix"></div>
														</td>
														
													</tr>
													
													<tr class="no-back">	
														<td colspan="2" class="padding-left-0">
															<input type="button" value="Sync to buyr.com & Web" class="done_btn" style="height:35px;" />
															
														</td>
														
														<td colspan="2">
															<!--<input type="button" value="Sync to buyr.com" class="sync_btn" />-->
															<input type="button" name="sync_buyr_btn" class="sync_btn" value="Sync to buyr.com" style="height:35px;" >
														</td>
													</tr>
													
												</table>
											</form>
									
										</div>
																			
										<div class="tiered_price tiered_price<?php echo $i; ?> inner_table_hide" >
											<label  class="heading">MARKET PRICING MODEL</label>
									
											<table>
											
												<tr class="no-back">
												
													<td class="padding-left-0"  width="25%">
														<label>MSRP</label>
														<input type="text" />
													</td>
													<td  width="25%">
														<label>Map price</label>
														<input type="text" />
													</td>
													<td  width="25%">
														<label>Cost</label>
														<input type="text" />
													</td>
													<td width="25%">
														<label>Inventory</label>
														<input type="text" />
													</td>
													
												</tr>
																					
												<tr class="no-back add_remove_images">
												
													<td colspan="2" class="padding-left-0">
														<label>Advanced Pricing <img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/question.png'); ?>" /> </label> 
														<select  class="select5 select_pricing color-8734a3" onchange="select_popup_pricing(jQuery(this))" >
															<option value="tiered_price" >Tiered Pricing</option>
															<option value="sloped_price">Sloped Pricing</option>
														</select>
													</td>
													
													<td colspan="2">
														
													</td>
													
												</tr>									
												
												<tr class="no-back">
												
													<td colspan="2" class="padding-left-0">
														<label></label>
														<!--<div class="ranged-value2<?php echo $i; ?> price_range" ></div>-->
													</td>
													
													<td class="tier_inventry">												
														<table>
															<tr>
																<td colspan="3"><label class="text-left">Tier 1 inventry</label></td>
															</tr>
															<tr>
																<td width="40%"><input type="text" /></td>
																<td  width="20%" style="text-align:center" ><label>-</label></td>
																<td width="40%"><input type="text" /></td>
															</tr>
														</table>
														
													</td>
													
													<td>
														<label>Tier 1 Price</label>
														<input type="text" class="tier_price" />
														<img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/minus.png'); ?>" />
													</td>
													
												</tr>
												
												<tr class="no-back" class="padding-left-0">
													
													<td colspan="2">
														<label></label>
														<!--<div class="ranged-value3<?php echo $i; ?> price_range" ></div>-->
													</td>
													
													<td class="tier_inventry">
														<table>
															<tr>
																<td colspan="3"><label class="text-left">Tier 2 Inventry</label></td>
															</tr>
															<tr>
																<td width="40%"><input type="text" /></td>
																<td  width="20%" style="text-align:center" ><label>-</label></td>
																<td width="40%"><input type="text" /></td>
															</tr>
														</table>												
													</td>
													
													<td>
														<label>Tier 2 Price</label>
														<input type="text" class="tier_price"  />
														<img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/minus.png'); ?>" />
													</td>
													
												</tr>
												
												<tr class="no-back disabled">
													
													<td colspan="2" class="padding-left-0">
														<label></label>
														<!--<div class="ranged-value7<?php echo $i; ?> price_range" ></div>-->
													</td>
													
													<td class="tier_inventry">
														<table>
															<tr>
																<td colspan="3"><label class="text-left">Tier 3 Inventry</label></td>
															</tr>
															<tr>
																<td width="40%"><input type="text" disabled="disabled" /></td>
																<td  width="20%" style="text-align:center" ><label>-</label></td>
																<td width="40%"><input type="text" disabled="disabled" /></td>
															</tr>
														</table>
													</td>
													
													<td>
														<label>Tier 3 Price</label>
														<input type="text" disabled="disabled"  class="tier_price" />
														<img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/plus.png'); ?>" />
													</td>
													
												</tr>
												
												<tr class="no-back">
													
													<td colspan="2" class="padding-left-0">
														<label style="margin-top:15px;">Timeframe</label>
														<select >
															<option>Reset</option>
															<option>Reset</option>
															<option>Reset</option>
														</select>
													</td>
													<td colspan="2">
														<label style="margin-top:15px;"></label>
														<select >
															<option>Every Week</option>
															<option>Every Week</option>
															<option>Every Week</option>
														</select>
													</td>
													
												</tr>
																			
												<tr class="no-back add_remove_images" >									
													
													<td colspan="2" class="padding-left-0">
													
														<label class="heading">Fulfillment</label>
														<div class="clearfix"></div>
														
														<div>Add In-Store Pickup Location <img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/plus.png'); ?>" /></div>
														<div class="clearfix" style="margin-top:10px;"></div>  
														<div>2436 6th St, boulder, Co <img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/minus.png'); ?>" /></div>
														<div class="clearfix"></div> 
													</td>
													
													<td colspan="2">
														<label class="heading"></label>
														<div class="clearfix"></div>
														
														<div>Add Same Day Delivery Location <img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/plus.png'); ?>" /></div>  
														
														<div class="clearfix" style="margin-top:10px;"></div>
														
														<div>435 Concord Ave, Boulder, Co <img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/minus.png'); ?>" /></div>
														
														<div class="clearfix"></div>
													</td>
													
												</tr>
												<tr class="no-back">	
													
													<td colspan="2" class="padding-left-0">
														<input type="button" value="Sync to buyr.com & Web" class="done_btn" style="height:35px;" />
													</td>
													
													<td colspan="2">
														<input type="button" value="Sync to buyr.com" class="sync_btn" style="height:35px;" />
													</td>
													
												</tr>
												
											</table>
											
										</div>
									
									</div>									
									
								</td>
								
								<td colspan="9">
									
									<div class="inner_price_tr inner_price_tr<?php echo $i; ?>"  style="height:auto;" >								
										
										<table>
											<tr class="no-back">
												<td width="100%" class="padding-right-0" ><img alt="Chart" style="height:100%;width:100%;" src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/chart.png'); ?>" /></td>
											</tr>
										</table>
									</div>
									<!--
									<div class="inner_table_hide inner_accept_tr inner_accept_tr<?php echo $i; ?>" >
										
										<table>
											<tr class="no-back">
												<td width="100%" class="padding-right-0" ><img alt="Chart" style="height:100%;width:100%;" src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/accept_chart.png'); ?>" /></td> 
											</tr>
										</table>
										
									</div>-->									
								</td>
								
							</tr>
							
						</tbody>

					</table>	        		
		        	
		        </div>
		        
		        <footer class="modal-footer">
		            
		        </footer>
		        
		    </div>
		    
		    <div data-role="focusable-end" tabindex="0"></div>
		    
	    </aside>
	
	    <div class="modals-overlay" style="z-index: 899;"></div>					