
<style>
	.page-header{
		display:none;
	}
	.main-col{
	    width:100% !important;
	}
</style>

<div id="template">

	<header class="signIn_header">
		<div id="logo">
			<span><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/magento_logo.png'); ?>" /></span>
		</div>
	</header>

	<div id="form">
	
		<form id="signInForm" name="signInForm" method="post" enctype="multipart/form-data" >
			
			<h2>Forgot Password</h2>
			
			<div class="input_field_div">
				<label for="email" class="label_names" >Email / User Name</label>
				<input type="text" name="email" class="creatform" id="email" value="" />
				<label class="img_div"><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/checked.png'); ?>"  class="valid_img" /><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/unchecked.png'); ?>" class="error_img" /></label>
				<label class="error"></label>
				<label for="password" class="label_names" ><span class="password_notify"><a href="<?php echo $block->getUrl('buyr/resetpassword/index'); ?>">Reset password</a></span></label>
				<div class="clear"></div>
			</div>
			
			<div class="clear"></div>
			
			<input type="button" id="forgot_password_btn" class="" name="" value="SUBMIT">
			
			<div id="signInText">					
				Does not have an account? <b><a href="<?php echo $block->getUrl('buyr/register/index'); ?>">Sign Up</a></b>
			</div>		
							
		</form>
	
	</div>

</div>
<script type="text/javascript">
        require(['jquery'],function($){
        	
        	jQuery(document).on('click','#forgot_password_btn',function(){
        	   if(jQuery("#email").hasClass("valid"))
        	   {
        	   	    var form_key = "<?php echo $block->getFormKey(); ?>";
        	   	    var email = jQuery('#email').val();

	        		jQuery.ajax({url: "<?php echo $block->getUrl('buyr/forgetpassword/sendresetlink'); ?>",data:{'form_key':form_key,'email':email}, success: function(result){

	        			alert(result);
		        	   	   
		        	}});
        	   }
        	   else
        	   {
        	   	  jQuery("#signInForm :input").each(function(){
					    if(jQuery(this).val() == "")
					    {
					    	jQuery(this).removeClass('error');
					    	jQuery(this).addClass('error');
					    	jQuery(this).parent().find('.error').html("This field is required");

					    }
				   })
        	   }
        	});

        	jQuery(document).on('mousedown','.input_field',function(e){
			  e.preventDefault();
			  return false;
			});	

			jQuery(document).on('keyup','.creatform',function(){
				var thisid = jQuery(this).attr('id');
				if(thisid == "email")
				{
				   var fieldvalue = jQuery(this).val();
                   var pattern = /^([a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+(\.[a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+)*|"((([ \t]*\r\n)?[ \t]+)?([\x01-\x08\x0b\x0c\x0e-\x1f\x7f\x21\x23-\x5b\x5d-\x7e\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|\\[\x01-\x09\x0b\x0c\x0d-\x7f\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))*(([ \t]*\r\n)?[ \t]+)?")@(([a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.)+([a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.?$/i;
                   if(pattern.test(fieldvalue) && fieldvalue != "")
                   {
                        jQuery(this).addClass('valid');
					    jQuery(this).removeClass('error');
					    jQuery(this).parent().find('.error').hide();
                   }
                   else
				    {
						if(fieldvalue == "")
						{
                            jQuery(this).addClass('error');
						    jQuery(this).removeClass('valid');
						    jQuery(this).parent().find('.error').show();
						    jQuery(this).parent().find('.error').text("This field is required");

						}
						else
						{
							jQuery(this).addClass('error');
						    jQuery(this).removeClass('valid');
						    jQuery(this).parent().find('.error').show();
						    jQuery(this).parent().find('.error').text("Please specify a valid email id");
					    }
					}

				}
			});
        });
</script>