<div class="admin__action-dropdown-wrap admin__data-grid-action-bookmarks open_default_action_nav left_dropdown" onclick="(function(e) { e.stopPropagation(); })(event);open_default_action_nav()" >    
    <button class="admin__action-dropdown outline-none action_dropdown left_action_dropdown" type="button">
        <span class="admin__action-dropdown-text action_button"><span style="font-size: 23px;vertical-align: middle;">&#9776;</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Actions&nbsp;<i class="fa fa-chevron-down" aria-hidden="true"></i>&nbsp;&nbsp;</span>
    </button> 
    <ul class="admin__action-dropdown-menu admin_action_dropdown_ul" onclick="(function(e) { e.stopPropagation(); })(event);" >     
        <li>
            <div class="action-dropdown-menu-item">
                <div class="admin__field-control">        
                    <div class="admin__actions-switch" data-role="switcher">
                        <!--onchange="if(jQuery(this).is(':checked')){ multiple_product_popup()}"-->
                        <a class="action-dropdown-menu-link change_status">Change Status <input type="checkbox" class="admin__actions-switch-checkbox" name="" value=""  id="action_checkbox" onchange="bulk_update(jQuery(this))" >
                        <label class="admin__actions-switch-label" for="action_checkbox" style="float:none;" ></label></a>
                        
                    </div>
                </div>
            </div>
        </li>      
        <li>
            <div class="action-dropdown-menu-item">
                <a class="action-dropdown-menu-link">Action 1</a>
            </div>
        </li>      
    </ul>     
</div>