<?php
	$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
	$resource1 = $objectManager->get('Magento\Framework\App\ResourceConnection');
	$connection1 = $resource1->getConnection();
	$getprofilequery1 = "select * from buyr_seller_info";
	$rows1 = $connection1->fetchAll($getprofilequery1);
	$profile_details1 = array();
	foreach ($rows1 as $rows_new1) {
	    $profile_details1['retailer_image'] = $rows_new1['retailer_image'];

		$file_headers = @get_headers($profile_details1['retailer_image']);
        $img_exist = ($file_headers[0] == 'HTTP/1.1 200 OK') ? "1" : "0";
	}
?>
<?php
	$params = $block->getRequest()->getParams();
	$search = "";
	if(array_key_exists('search',$params)) { $search = $params['search']; } else { $search = ""; }
?>
<div class="col-xs-12" id="custom_header" > 
	<div class="logo col-xs-1 pull-left"> 
		<a href="<?php echo $block->getUrl('buyr/productmanagement/index'); ?>" >
			<img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/magento_logo.png'); ?>" class="header_logo" alt="" />
		</a>
	</div>

	<div class="search_bar col-xs-8 pull-left">
		<div class="search-global-field _active">
		   <form action="<?php echo $block->getUrl('buyr/productmanagement/index'); ?>" method="post" id="search-form">
		    <input name="form_key" type="hidden" value="<?php echo $block->getFormKey(); ?>" />
            <label class="search-global-label" for="search-global"></label> 
            <input type="hidden" name="query" value="">
	            <div class="mage-suggest">
	            	<div class="mage-suggest-inner"><input type="text" class="search-global-input" value="<?php echo $search; ?>" id="search-global" name="search" autocomplete="off"><div class="autocomplete-results" style="display: none;"></div>
	            	</div>
	            </div>
            <button type="submit" id="search-btn" class="search-global-action" title="Search"></button>
           </form>
        </div>
	</div>
	
	<div class="icons col-xs-3 pull-left">
		<div class="icon_images">
			<div class="icons_div profile_icon" >
				<button type="button" class="btn profile_img_btn">
					<a href="<?php echo $block->getUrl('buyr/profile/index'); ?>"><img alt="#" class="header_profile_image" src="<?php if(isset($profile_details1['retailer_image']) && $profile_details1['retailer_image'] != "" && $img_exist == "1" ) { echo $profile_details1['retailer_image']; } else { echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/admin_profile_large.jpg'); } ?>" /></a>
				</button>
			</div>
			<a href="<?php echo $block->getUrl('buyr/review/index'); ?>">
				<div class="icons_div message_notification">
					<span class="badge">5</span>
				</div>
			</a>

			<div class="icons_div header_notification">
				<span class="badge hide">7</span>
			</div>
		</div>		
		
		<div class="icon_text text-right">
			<div class="action-select-wrap" data-bind="collapsible" onclick="(function(e) { e.stopPropagation(); })(event);profile_dropdown()" >
			    <button class="" >Hi, Admin <i class="fa fa-chevron-down" aria-hidden="true"></i></button>
			    <ul class="action-menu" >
			    	<li data-repeat-index="0">
			            <a class="action-menu-item" href="<?php echo $block->getUrl('buyr/profile/index'); ?>">Edit</a>
			        </li>
			        <li data-repeat-index="1">
			            <a class="action-menu-item" href="<?php echo $block->getUrl('buyr/signin/signout'); ?>">Sign Out</a>
			        </li>
			    </ul>
			</div>
			
		</div>
		
	</div>		
	
	<div class="clearfix"></div>
			
</div>
<script type="text/javascript">
        require(['jquery'],function($){
           jQuery(document).on('click','#search-btn',function(){
               jQuery("#search-form").submit();
        	});
        });
</script>
