<?php 
$allview = $block->getAllViews();
$all_attributes = $block->getAllAttributes();
?>
<div class="admin__data-grid-actions-wrap">
    <div class="data-grid-filters-actions-wrap" >
        <div class="data-grid-filters-action-wrap">
            <button class="action-default outline-none" onclick="(function(e) { e.stopPropagation(); })(event);open_filter_nav()">Filters&nbsp;<i class="fa fa-chevron-down" aria-hidden="true"></i></button>
        </div>
    </div>
    <div class="admin__action-dropdown-wrap admin__data-grid-action-bookmarks open_default_view_nav" onclick="(function(e) { e.stopPropagation(); })(event);open_default_view_nav()" >
        <?php if(array_key_exists('viewname',$params)) { $viewname = $params['viewname']; } else { $viewname = "Default View"; } ?>
        <button class="admin__action-dropdown outline-none" id="default_view_root" type="button">
            <span class="admin__action-dropdown-text"><?php echo $viewname; ?>&nbsp;<i class="fa fa-chevron-down" aria-hidden="true"></i></span>
        </button>
        <ul class="admin__action-dropdown-menu myviewdrop" onclick="(function(e) { e.stopPropagation(); })(event);" >
            <li>
                <div class="action-dropdown-menu-item">
                    <a class="action-dropdown-menu-link" href="<?php echo $block->getUrl('buyr/productmanagement/clearcolumnattribute'); ?>">Default View</a>
                </div>
            </li>
            <?php foreach ($allview as $viewname => $viewlink) {  ?>
            <?php $namenid = explode(',',$viewname); ?>
            <li >
                <div class="action-dropdown-menu-item-edit">
                    <input class="admin__control-text" type="text" placeholder="<?php echo $namenid[0]; ?>">
                    <button class="action-submit view-edit" type="button" title="Save all changes" value="<?php echo $namenid[1]; ?>">
                        <span>Submit</span>
                    </button>
                    <div class="action-dropdown-menu-item-actions">
                        <button class="action-delete view-delete" type="button" title="Delete bookmark" id="view-delete" value="<?php echo $namenid[1]; ?>" onclick="delete_view_dropdown(jQuery(this),)">
                            <span>Delete</span>
                        </button>
                    </div>
                </div>
                <div class="action-dropdown-menu-item">
                    <a class="action-dropdown-menu-link" href="<?php echo $block->getUrl($viewlink); ?>"><?php echo $namenid[0]; ?></a>

                    <div class="action-dropdown-menu-item-actions">
                        <button class="action-edit" type="button" title="Edit bookmark" onclick="view_submit_dropdown(jQuery(this))" >
                            <span>Edit</span>
                        </button>
                    </div>
                </div>
            </li>
            <?php } ?>          
            <li class="action-dropdown-menu-action action-dropdown-menu-item-last viewsave">
                <a onclick="view_saveas_submit_dropdown(jQuery(this))" style="cursor:pointer" >Save View As...</a>          
                <div class="action-dropdown-menu-item-edit">
                    <input class="admin__control-text" name="viewname" id="viewname" type="text" >
                    <div class="action-dropdown-menu-item-actions">
                        <button class="action-submit" id="newview" type="button" title="Save all changes">
                            <span data-bind="i18n: 'Submit'">Submit</span>
                        </button>
                    </div>
                </div>  
            </li>
        </ul>     
    </div>
    <div class="admin__action-dropdown-wrap admin__data-grid-action-columns open_columns_nav" onclick="(function(e) { e.stopPropagation(); })(event);open_columns_nav()" >     
        <button class="admin__action-dropdown outline-none action_dropdown" type="button">
            <span class="admin__action-dropdown-text" >Columns&nbsp;<i class="fa fa-chevron-down" aria-hidden="true"></i></span>
        </button> 
        <div class="admin__action-dropdown-menu admin__data-grid-action-columns-menu _overflow column_tabs" onclick="(function(e) { e.stopPropagation(); })(event);" >        
            <div class="admin__action-dropdown-menu-header" ><?php echo 12+count($category_columns); ?> out of 35 visible</div>
            <form action="<?php echo $block->getUrl('buyr/productmanagement/submitattribute'); ?>" method="post">
                <input name="form_key" type="hidden" value="<?php echo $block->getFormKey(); ?>" />
                <div class="admin__action-dropdown-menu-content column_scroll" >          
                    <?php
                    for($ac=0; $ac < count($all_attributes); $ac++) {						            	 
                        if($block->getAttributeName($all_attributes[$ac]) != "") { ?>
                            <div class="admin__field-option">
                                <input class="admin__control-checkbox checkbox_images" type="checkbox" name="columnattribute[]" value="<?php echo $all_attributes[$ac]; ?>" id="<?php echo $ac; ?>" <?php if(in_array($all_attributes[$ac],$category_columns)) { echo "checked=checked"; } ?>>
                                <label class="admin__field-label" for="<?php echo $ac; ?>"><?php echo $block->getAttributeName($all_attributes[$ac]); ?></label>
                            </div>
                        <?php } 
                    } ?>          
                </div>          
                <div class="admin__action-dropdown-menu-footer" style="border-top:none;" >
                    <div class="admin__action-dropdown-footer-secondary-actions">
                        <a href="<?php echo $block->getUrl('buyr/productmanagement/clearcolumnattribute'); ?>" class="action-tertiary action-tertiary-clear">Clear All</a>
                    </div>
                    <div class="admin__action-dropdown-footer-main-actions">
                        <!--<button class="action-tertiary action-tertiary-apply" type="button" >Apply</button>-->
                        <input type="submit" name="applyattribute" value="Apply" class="action-tertiary-apply">
                    </div>
                </div>
            </form>           
        </div>
    </div>
</div>