<div class="pagination_div">  
    <div class="pagination_arrow pull-right">       
        <div class="admin__data-grid-pager-wrap">
            <div class="admin__data-grid-pager">
                <form action="<?php echo $block->getUrl('buyr/productmanagement/index'); ?>" method="post" id="prev_btn_form" style="display:inline;" >      
                    <input type="hidden" name="form_key" value="<?php echo $block->getFormKey(); ?>"> 
                    <input type="hidden" name="currentpage" value="<?php echo $previous_page; ?>">
                    <input type="hidden" name="perpage" value="<?php echo $product_per_page; ?>">
                    <input type="hidden" name="idstarting" value="<?php echo $idstarting; ?>">
                    <input type="hidden" name="idending" value="<?php echo $idending; ?>">
                    <input type="hidden" name="pricestarting" value="<?php echo $pricestarting; ?>">
                    <input type="hidden" name="priceending" value="<?php echo $priceending; ?>">
                    <input type="hidden" name="qtystarting" value="<?php echo $qtystarting; ?>">
                    <input type="hidden" name="qtyending" value="<?php echo $qtyending; ?>">
                    <input type="hidden" name="visibility" value="<?php echo $visibility; ?>">
                    <input type="hidden" name="attributeset" value="<?php echo $attributeset; ?>">
                    <input type="hidden" name="productstatus" value="<?php echo $productstatus; ?>">
                    <input type="hidden" name="search" value="<?php echo $search; ?>">
                    <a class="action-previous pagination_prev_icon" onclick="submit_prev_btn_form()" style="cursor:pointer;" ></a> 
                </form>          
                <input class="admin__control-text pagination_text_box" type="text" value="<?php if($current_page_no != "") { echo $current_page_no; } else { echo "1"; } ?>" name="page" id="36">
                <form action="<?php echo $block->getUrl('buyr/productmanagement/index'); ?>" method="post" id="next_btn_form"  style="display:inline;" >      
                    <input type="hidden" name="form_key" value="<?php echo $block->getFormKey(); ?>"> 
                    <input type="hidden" name="currentpage" value="<?php echo $next_page; ?>">
                    <input type="hidden" name="perpage" value="<?php echo $product_per_page; ?>">
                    <input type="hidden" name="idstarting" value="<?php echo $idstarting; ?>">
                    <input type="hidden" name="idending" value="<?php echo $idending; ?>">
                    <input type="hidden" name="pricestarting" value="<?php echo $pricestarting; ?>">
                    <input type="hidden" name="priceending" value="<?php echo $priceending; ?>">
                    <input type="hidden" name="qtystarting" value="<?php echo $qtystarting; ?>">
                    <input type="hidden" name="qtyending" value="<?php echo $qtyending; ?>">
                    <input type="hidden" name="visibility" value="<?php echo $visibility; ?>">
                    <input type="hidden" name="attributeset" value="<?php echo $attributeset; ?>">
                    <input type="hidden" name="productstatus" value="<?php echo $productstatus; ?>">
                    <input type="hidden" name="search" value="<?php echo $search; ?>">
                    <a class="action-next pagination_next_icon" onclick="submit_next_btn_form()" style="cursor:pointer;" ></a> 
                </form>                                                   
            </div>       
        </div>    
    </div>
    <form class="pagination_form pull-right" id="per_page_form" action="" method="">
        <input type="hidden" name="currentpage" value="1">
        <input name="form_key" type="hidden" value="<?php echo $block->getFormKey(); ?>" />
        per page
        <select id="per_page" name="uperpage" class="select">
            <option value="10" <?php if($product_per_page == 10) { echo "selected"; } ?>>10</option>
            <option value="20" <?php if($product_per_page == 20) { echo "selected"; } ?>>20</option>
            <option value="30" <?php if($product_per_page == 30) { echo "selected"; } ?>>30</option>
            <option value="50" <?php if($product_per_page == 50) { echo "selected"; } ?>>50</option>
            <option value="100" <?php if($product_per_page == 100) { echo "selected"; } ?>>100</option>
            <option value="200" <?php if($product_per_page == 200) { echo "selected"; } ?>>200</option>
        </select>
        of &nbsp;
        <?php echo round($total_page_no); ?>
    </form>
    <span class="separator"></span>
    Total <?php echo $total_listed_product; ?> <?php if($total_listed_product == 1) { echo "record"; } else { echo "records"; } ?> found 
</div>