<div class="admin__data-grid-filters-wrap open_filter_nav clearfix" id="filters" onclick="(function(e) { e.stopPropagation(); })(event);" >			   	
    <form action="<?php echo $block->getUrl('buyr/productmanagement/index'); ?>" method="post">					   	
        <input type="hidden" name="currentpage" value="1">
        <input name="form_key" type="hidden" value="<?php echo $block->getFormKey(); ?>" />					   	
        <table style="width:100%">
            <tr>				   		
                <td style="width:75%;">
                    <table>
                        <tr>
                            <td>
                                <label>ID</label>
                                <table>
                                    <tr class="filters_textbox">
                                        <td colspan="4"><span>From</span><input class="low" name="idstarting" type="text" style="margin-right:10px" value="<?php if($idstarting == 0) { echo 1; } else { echo $idstarting; } ?>" /><span>To</span><input class="high" name="idending" type="text" value="<?php if($idending == 0) { echo $magento_products->count(); } else { echo $idending; } ?>" /></td>
                                    </tr>          
                                    <tr>
                                        <td colspan="4" >
                                        	<div class="priceSliderHeight">
                                        		<div class="ranged-value1 price_range" ></div>
                                        	</div>                                        	
                                        </td>
                                    </tr>
                                </table>
                            </td>								   			
                            <td>
                                <label>PRICE,$</label>
                                <table>
                                    <tr class="filters_textbox">
                                        <td colspan="4"><span>From</span><input class="low" type="text" name="pricestarting" value="<?php echo($pricestarting == 0)?$block->getMinPrice():$pricestarting; ?>" style="margin-right:10px"  /><span>To</span><input class="high" type="text" value="<?php echo ($priceending == 0)?$block->getMaxPrice():$priceending; ?>" name="priceending"  /></td>
                                    </tr>          
                                    <tr>
                                        <td colspan="4">
                                        <div class="priceSliderHeight">
                                        	<div class="ranged-value2 price_range" ></div>
                                        </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>								   			
                            <td>
                                <label>QUANTITY</label>
                                <table>
                                    <tr class="filters_textbox">
                                        <td colspan="4"><span>From</span><input class="low" type="text" name="qtystarting" value="<?php if($qtystarting == -1) { echo $block->getMinQty(); } else { echo $qtystarting; } ?>" style="margin-right:10px" /><span>To</span><input class="high" type="text" name="qtyending" value="<?php if($qtyending == -1) { echo $block->getMaxQty(); } else { echo $qtyending; } ?>" /></td>
                                    </tr>         
                                    <tr>
                                        <td colspan="4">
                                        <div class="priceSliderHeight">
                                        	<div class="ranged-value3 price_range" ></div>
                                        </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>							   			
                            <td>
                                <label>SKU</label>
                                <table>
                                    <tr class="filters_textbox">
                                        <td colspan="4" class="padding-right-0" ><input type="text" name="skufilter" value="<?php echo $skufilter; ?>" style="width:100%" /></td>
                                    </tr>
                                </table>				   							
                            </td>
                        </tr>				   					
                        <tr>
                            <td colspan="4">
                                <label>NAME</label>
                                <input type="text" name="namefilter" value="<?php echo $namefilter; ?>" />
                            </td>
                        </tr>				   					
                    </table>
                </td>					   			
                <td style="width:3%;" >
                    <table>				   				
                        <tr>
                            <td></td>				   						
                        </tr>         
                        <tr>
                            <td></td>
                        </tr>          
                        <tr>
                            <td></td>
                        </tr>   
                    </table>
                </td>				   			
                <td style="width:22%;" class="filters_right_side" >
                    <table>
                        <tr>
                            <td colspan="2">
                                <label>VISIBILITY</label>
                                <select name="visibility" class="select">
                                    <option value="0" <?php if($visibility == 0) { echo "selected"; } ?>>Select</option>
                                    <option value="1" <?php if($visibility == 1) { echo "selected"; } ?>>Not visible individually</option>
                                    <option value="2" <?php if($visibility == 2) { echo "selected"; } ?>>Catalog</option>
                                    <option value="3" <?php if($visibility == 3) { echo "selected"; } ?>>Search</option>
                                    <option value="4" <?php if($visibility == 4) { echo "selected"; } ?>>Catalog,Search</option>
                                </select>
                            </td>				   						
                        </tr>			   					
                        <tr>
                            <?php $all_attribute_set = $block->getAttributeSets(); ?>
                            <td colspan="2">
                                <label>ATTRIBUTE SET</label>
                                <select name="attributeset" class="select">
                                <option value="0">Select</option>
                                <?php foreach ($all_attribute_set as $key => $value) { ?>
                                    <option value="<?php echo $key; ?>" <?php if($attributeset == $key) { echo "selected"; } ?>><?php echo $value; ?></option>
                                <?php } ?>
                                </select>
                            </td>
                        </tr>			   					
                        <tr>
                            <td colspan="2">
                                <label>STATUS</label>
                                <select name="productstatus" class="select">
                                <option value="0">Select</option>
                                <option value="1" <?php if($productstatus == 1) { echo "selected"; } ?>>Enabled</option>
                                <option value="2" <?php if($productstatus == 2) { echo "selected"; } ?>>Disabled</option>
                                </select>
                            </td>
                        </tr>			   					
                        <tr>
                            <td colspan="2">
                                    <a href="<?php echo $block->getUrl('buyr/productmanagement/index'); ?>" class="action-tertiary action-tertiary-clear">Clear All</a>   
                                    <input type="submit" name="apply_filters" class="pull-right" value="Apply Filters">    
                            </td>				   						
                        </tr>			   					
                    </table>
                </td>			   			
            </tr>
        </table>				   	
    </form>				 
    <div class="clearfix"></div>			   
</div>