<?php
    $productCollection = $objectManager->create('Magento\Catalog\Model\ResourceModel\Product\Collection');

    /** ========================================== Get Column Organization =================================================================== **/
    $getcustomecolumnname = $block->getAttributeColumnsNames();
    $originalcolumnorder = array("ID","Thumbnail","Name","Manufacturer","Category","SKU","UPC","Quantity","Price","Shipping","Status","Offers");
    $columnorganization = (array_key_exists('columnorder',$params) ? $block->getColumnOrganization($params['columnorder']) : $originalcolumnorder );
    /** ========================================== Get Column Organization =================================================================== **/  
    
    /** ============================================ Id Filtaring =========================================================================== **/
    $idstarting = (array_key_exists('idstarting',$params) ? $params['idstarting'] : 0);
    $idending = (array_key_exists('idending',$params) ? $params['idending'] : 0 );
    
    switch(true)
    {
      case ($idstarting != 0 && $idending != 0):
        $productCollection->addFieldToFilter('entity_id',array(array('from'=> $idstarting,'to'=> $idending)));
        break;
      case ($idstarting != 0 && $idending == 0):
        $productCollection->addFieldToFilter('entity_id',array(array('from'=> $idstarting)));
        break;
      case ($idstarting == 0 && $idending != 0):
        $productCollection->addFieldToFilter('entity_id',array(array('to'=> $idending)));
        break;
      default:
        break;
    }   
    /** ============================================ Id Filtaring ============================================================================== **/

    /** ============================================ Price Filtaring =========================================================================== **/
    $pricestarting = (array_key_exists('pricestarting',$params) ? $params['pricestarting'] : 0 );
    $priceending = (array_key_exists('priceending',$params) ? $params['priceending'] : 0 );
    
    switch(true)
    {
      case ($pricestarting != 0 && $priceending != 0):
        $productCollection->addFieldToFilter('price',array(array('from'=>$pricestarting,'to'=>$priceending)));
        break;
      case ($pricestarting != 0 && $priceending == 0):
        $productCollection->addFieldToFilter('price',array(array('from'=>$pricestarting)));
        break;
      case ($pricestarting == 0 && $priceending != 0):
        $productCollection->addFieldToFilter('price',array(array('to'=>$priceending)));
        break;
      default:
        break;
    }
    /** ============================================ Price Filtaring =========================================================================== **/

    /** ============================================ Quantity Filtaring ======================================================================== **/
    $qtystarting = (array_key_exists('qtystarting',$params) ? $params['qtystarting'] : -1 );
    $qtyending = (array_key_exists('qtyending',$params) ? $params['qtyending'] : -1 );

    switch(true)
    {
      case ($qtystarting != -1 && $qtyending != -1):
        $productCollection->joinField('qty',
            'cataloginventory_stock_item',
            'qty',
            'product_id=entity_id',
            '{{table}}.stock_id=1',
            'left'
        )->addAttributeToFilter('qty', array('gt' => ($qtystarting-1)))->addAttributeToFilter('qty', array('lt' => ($qtyending+1)));
        break;
      case ($qtystarting != -1 && $qtyending == -1):
        $productCollection->joinField('qty',
            'cataloginventory_stock_item',
            'qty',
            'product_id=entity_id',
            '{{table}}.stock_id=1',
            'left'
        )->addAttributeToFilter('qty', array('gt' => ($qtystarting-1)));
        break;
      case ($qtystarting == -1 && $qtyending != -1):
        $productCollection->joinField('qty',
            'cataloginventory_stock_item',
            'qty',
            'product_id=entity_id',
            '{{table}}.stock_id=1',
            'left'
        )->addAttributeToFilter('qty', array('lt' => ($qtyending+1)));
        break;
      case ($qtystarting == 0 && $qtyending == 0):
        $productCollection->joinField('qty',
            'cataloginventory_stock_item',
            'qty',
            'product_id=entity_id',
            '{{table}}.stock_id=1',
            'left'
        )->addAttributeToFilter('qty', array('lt' => 1));
        break;
      default:
        break;
    }
    /** ============================================ Quantity Filtaring  ======================================================================= **/

    /** ============================================ Visibility Filtering ====================================================================== **/
    $visibility = (array_key_exists('visibility',$params) ? $params['visibility'] : 0 );

    if($visibility != 0) { 
        $productCollection->addAttributeToFilter('visibility', $visibility); 
    } else { 
        $productCollection->addAttributeToFilter('visibility', 4);	
    }  
    /** ============================================ Visibility Filtering ====================================================================== **/

    /** ============================================ Attribute Set Filtering =================================================================== **/
    $attributeset = 0;
    if(array_key_exists('attributeset',$params)) { $attributeset = $params['attributeset']; } else { $attributeset = 0; }
    if($attributeset != 0) { $productCollection->addFieldToFilter('attribute_set_id', $attributeset); }
    /** ============================================ Attribute Set Filtering =================================================================== **/

    /** ============================================ Status Filtering ========================================================================== **/
    $productstatus = (array_key_exists('productstatus',$params) ? $params['productstatus'] : 0 );

    if($productstatus != 0) { $productCollection->addAttributeToFilter('status', $productstatus); }
    /** ============================================ Status Filtering ========================================================================== **/

    /** ============================================ Name Filtering ============================================================================ **/
    $namefilter = (array_key_exists('namefilter',$params) ? $params['namefilter'] : "" );
    $productCollection->addAttributeToFilter('name', array('like' => '%'.$namefilter.'%'));
    /** ============================================ Name Filtering ============================================================================ **/

    /** ============================================ Sku Filtering ============================================================================= **/
    $skufilter = (array_key_exists('skufilter',$params) ? $params['skufilter'] : "" );
    $productCollection->addAttributeToFilter('sku', array('like' => '%'.$skufilter.'%'));
    /** ============================================ Sku Filtering ============================================================================= **/
?>