<link href="<?php echo $this->getViewFileUrl("Buyr_MarketPlace::css/buyr.css"); ?>" rel="stylesheet" type="text/css" />
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$currency = $objectManager->get('\Magento\Directory\Model\Currency');
$StockState = $objectManager->get('\Magento\CatalogInventory\Api\StockStateInterface');
$params = $block->getRequest()->getParams();

$session = $objectManager->get('Magento\Customer\Model\Session');
if($session->getAuthenticationKey() == "")
{
    $url = $block->getUrl('buyr/signin/index');
    header('Location:'.$url );die(); 
}
?>

<div onclick="reset()" >
<div id="loading-indicator" onclick="(function(e) { e.stopPropagation(); })(event)" class="hide">
	<img class="loading-image"  src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/loading.gif'); ?>" />
</div>

<?php include_once('header.phtml'); ?>
<?php include_once('product_filter.phtml'); ?>
<?php include_once('product_search.phtml'); ?>
<?php include_once('product_pagination.phtml'); ?>

<?php
$category_columns = $block->getAttributeColumns();
$product_id_array = array();
foreach($products as $product) { $product_id_array[] = $product->getId(); }
$getProductOffersCount = $block->getProductOffers($product_id_array);
?>
	<div id="dashboard">	
		<div class="admin__data-grid-header">
		    <div class="admin__data-grid-header-row">	    
		    	<?php include_once('header_left_status.phtml'); ?>	    
		        <?php include_once('header_right_options.phtml'); ?>
                <?php include_once('product_filter_template.phtml'); ?>
		    </div>
		</div>
		<div>		
			<?php include_once('pagination_template.phtml'); ?>		
			<div class="demo-content" style="position: relative;">
				<table class="defaultTable sar-table" id="swa" onclick="(function(e) { e.stopPropagation(); })(event);">
		        	<thead>
		                <tr>
	                		<th width="4%" valign="middle" class="data-grid-th  no-link col-cache_type notdraggable dragtable-drag-boundary"><input type="checkbox" class="" id="header_checkbox" onchange="check_all(jQuery(this))" /></th>
	                		
		                	<?php $firstpart = 0; 
							$secondpart = 0; ?>
		                	<?php for($ns = 0;$ns < count($columnorganization);$ns++) {?>
		                		<th width="<?php if(strtolower($columnorganization[$ns]) == 'id'){ ?>5%<?php } else if(strtolower($columnorganization[$ns]) == 'category') { ?>12%<?php } else if(strtolower($columnorganization[$ns]) == 'manufacturer'){ ?>12%<?php } else if(strtolower($columnorganization[$ns]) == 'name'){ ?>13%<?php } else {?>8%<?php } ?>" valign="middle" class="data-grid-th  no-link col-cache_type sortfunction <?php if(strtolower($columnorganization[$ns]) == 'id') { echo 'notdraggable dragtable-drag-boundary'; } ?>"> <span class="dragtable-drag-handle"><?php echo $columnorganization[$ns]; ?></span> <?php if(strtolower($columnorganization[$ns]) != 'thumbnail') { ?> <span class="notdraggable dragtable-drag-boundary pull-right sortspan"><i class="fa fa-sort-asc color-737373 pull-right" aria-hidden="true"></i> <i class="fa fa-sort-desc color-737373 pull-right" aria-hidden="true"></i></span><?php } ?> </th>
	                        <?php $firstpart++; } ?>
	                        
		                	<?php 
		                	if(!array_key_exists('columnorder',$params)){
		                	for($ca=0;$ca < count($category_columns);$ca++) { ?>
		                		<th width="8%" valign="middle" class="data-grid-th  no-link col-cache_type sortfunction"><span class="dragtable-drag-handle"><?php echo $block->getAttributeName($category_columns[$ca]); ?></span></th>
		                	<?php $secondpart++; } }?>      	                                       
		                </tr>
		            </thead>
		            
		            <tfoot class="hide">
						<tr><th width="4%" ><input type="checkbox" class="" /></th><th width="5%">ID</th><th width="8%">Thumbnail</th><th width="10%">Name</th><th width="12%">Manufacturer</th>
						<?php
		                	for($ca=0;$ca < count($category_columns);$ca++)
		                	{
		                	?>
		                		<th><?php echo $category_columns[$ca]; ?></th>
		                	<?php
		                	}
		                ?>
						<th width="13%">Category</th><th width="8%">SKU</th><th width="8%">UPC</th><th width="7%">Quantity</th><th width="6%">Price</th><th width="7%">Shipping</th><th width="6%">Status</th><th width="7%">Offers</th></tr>
					</tfoot>
		            
		            <tbody>
		            
			        <?php
					$header_count = $firstpart + $secondpart + 1;

		            if($total_listed_product != 0) {
							$i = 1;
							$j = 1;   

							foreach($products as $product) {
								$quantity = 0;
								$_product = $objectManager->create('Magento\Catalog\Model\Product')->load($product->getId());
								$media_url = $objectManager->get('Magento\Store\Model\StoreManagerInterface')->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA)."/catalog/product".$_product->getData('thumbnail');
								$quantity = $StockState->getStockQty($_product->getId(), $_product->getStore()->getWebsiteId());
								$manufacture = $_product->getResource()->getAttribute('manufacturer')->getFrontend()->getValue($_product);
								$actualprice = $block->getProductPrice($product->getId());
								$buyr_product_id = $block->getBuyrProductId($product->getId());	
								$pro_buyr_status = $block->getProductState($product->getId());
							?>	
							<tr class="first_tr getcontent tr_background" id="main-<?php echo $i; ?>" index_no_new = "<?php echo $i; ?>" onclick="open_inner_pricetable_slide(<?php echo $i; ?>)" style="cursor:pointer;" >
								<input type="hidden" class="buyr_product_id" value="<?php echo $buyr_product_id; ?>">
								<td valign="middle" onclick="(function(e) { e.stopPropagation(); })(event);"><input type="checkbox" class="checkbox_images table_checkbox" pid="<?php echo $_product->getId(); ?>" publish_state="<?php if($pro_buyr_status['state'] == "enabled") { echo "1"; } else { echo "0"; } ?>"  id="header_checkbox<?php echo $i ?>" /><label for="header_checkbox<?php echo $i ?>"></label></td>
								<?php for($ns = 0;$ns < count($columnorganization);$ns++) { 

											$column = trim($columnorganization[$ns]," ");
											switch ($column) {
												case "ID":
													echo "<td valign='middle'>".trim($_product->getId(),"")."</td>";
													break;
												case "Name":
													echo "<td width='12%'>".rtrim($_product->getName()," ")."</td>";
													break;
												case "Manufacturer":
													echo "<td valign='middle' width='12%'>".trim($manufacture," ")."</td>";
													break;
												case "Category":
													echo "<td valign='middle' width='13%' >".trim($block->getProductCategories($_product->getId())," ")."</td>";
													break;
												case "SKU":
													echo "<td valign='middle'>".trim($_product->getSku()," ")."</td>";
													break;
												case "Thumbnail":
													echo '<td valign="middle"><img src="'.$media_url.'" alt="#" class="img" /></td>';
													break;
												case "UPC":
													echo "<td valign='middle'>".$_product->getUpc()."</td>";
													break;
												case "Quantity":
													echo "<td valign='middle'>".trim($quantity," ")."</td>";
													break;
												case "Price":
													echo "<td valign='middle'>".trim(sprintf("%.2f",$actualprice)," ")."</td>";
													break;
												case "Shipping":
													echo "<td valign='middle'></td>";
													break;
												case "Status":
													?>
													<td valign="middle">
														<div class="admin__field-control">        
															<div class="admin__actions-switch" data-role="switcher">
																<input type="hidden" class="find_product_id" value="<?php echo $_product->getId(); ?>">
																
																<input type="checkbox" class="admin__actions-switch-checkbox status_change" id="rad<?php echo $i; ?>" <?php if(isset($pro_buyr_status['state'])) { if($pro_buyr_status['state'] == "enabled") { echo "checked"; } } ?> name="is_active" value="<?php echo $i; ?>">
																<label class="admin__actions-switch-label"  for="rad<?php echo $i; ?>"></label>
															</div>
														</div>
													</td>
													<?php
													break;
												case "Offers":
													?>
													<td valign="middle" class="highlight getoffer" onclick="(function(e) { e.stopPropagation(); })(event);open_inner_offertable_slide(<?php echo $i; ?>)" buyrid="<?php echo $buyr_product_id; ?>" ><a class="<?php if(isset($getProductOffersCount['offers'][$buyr_product_id])) { echo "color-8734a3"; } ?> text-underline offer_text <?php echo ($block->productStatus($_product->getId()) == 1)?'':''; ?>" ><?php if(isset($getProductOffersCount['offers'][$buyr_product_id])) { if($getProductOffersCount['offers'][$buyr_product_id] == 1) { echo $getProductOffersCount['offers'][$buyr_product_id]." New Offer"; } else { echo $getProductOffersCount['offers'][$buyr_product_id]." New Offers"; } } else { echo "0 New Offers"; } ?> </a></td>
													<?php
													break;
												case "SKU":
													echo "<td valign='middle'>".trim($_product->getSku()," ")."</td>";
													break;
												default:
													if(array_key_exists(trim($columnorganization[$ns]," "),$getcustomecolumnname)) {
													$attr_code = $getcustomecolumnname[trim($columnorganization[$ns]," ")];
													echo "<td valign='middle'>".trim($block->getAttributeValue($product->getId(),$attr_code)," ")."</td>";
													}
											}
								     } 
									 ?>
									<?php
									if(!array_key_exists('columnorder',$params)){
										for($ca=0;$ca < count($category_columns);$ca++)
										{
										?>
											<td valign="middle"><?php echo $block->getAttributeValue($product->getId(),$category_columns[$ca]); ?></td>
										<?php
										}
									}
									?>
							</tr>					
							
							<tr class="first_tr no-back inner_content_table" index_no = "<?php echo $i; ?>" id="sub-main-<?php echo $i; ?>">
									
									<td colspan="<?php echo $header_count; ?>" >
										
										<div class="pull-left inner_table_left_part">
											
											<div class="inner_table_hide inner_price_tr inner_price_tr<?php echo $i; ?>">
												
												<input type="hidden" value="<?php echo $i; ?>" class="index_number_input" />
												
												<div class="sloped_price sloped_price<?php echo $i; ?>">
													<?php $pricingModelDetails = $block->getPricingModelDetails($product->getId()); ?>
													<label class="heading">MARKET PRICING MODEL</label><label class="error-msg" style="color: red;min-height:0px;"></label>						
														
														<table>
															
															<tr class="no-back">
																<td class="padding-left-0">
																	<label>MSRP</label>
																	<input type="hidden" name="product_id" class="product_id" value="<?php echo $product->getId(); ?>">
																	<input type="text" name="product_msrp" class="product_msrp margin-bottom-5" value="<?php  echo $pricingModelDetails['msrp']; ?>" />
																</td>
																<td>
																	<label>MAP Price</label>
																	<input type="text" class="margin-bottom-5 map_price" name="map_price" value="<?php echo $pricingModelDetails['mapPrice']; ?>" />
																</td>
																<td>
																	<label>Cost</label>
																	<input type="text" name="product_cost" class="product_cost margin-bottom-5 pm_productcost" value="<?php echo sprintf("%.2f",$pricingModelDetails['cost']); ?>" />
																</td>
																<td>
																	<label>Inventory</label>
																	<input type="text" name="product_quantity" class="product_quantity margin-bottom-5 pm_inventoy" value="<?php echo $pricingModelDetails['units']; ?>" />
																	<input type="hidden" name="product_actualquantity" class="product_actualquantity margin-bottom-5" value="<?php echo $quantity; ?>" />
																	<input type="hidden" class="upc_value" value="<?php echo $_product->getUpc(); ?>">
																</td>
															</tr>									
															
															<tr class="no-back add_remove_images">
																<td colspan="2"  class="padding-left-0">
																	<label class="margin-top-10">Advanced Pricing <img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/question.png'); ?>" /> </label> 
																	<select class="select1 select_pricing select_pricing<?php echo $i ?> color-8734a3  pm_price_model" onchange="select_popup_pricing(jQuery(this),<?php echo $i; ?>);">
																		<option value="constant_price" <?php if($pricingModelDetails['priceModel'] == "Constant") { echo "selected"; } ?>>Constant Pricing</option>
																		<option value="sloped_price" <?php if($pricingModelDetails['priceModel'] == "Sloped") { echo "selected"; } ?>>Sloped Pricing</option>
																		<option value="tiered_price" <?php if($pricingModelDetails['priceModel'] == "Tiered") { echo "selected"; } ?>>Tiered Pricing</option>
																		<option value="aggressive_curve_pricing" <?php if($pricingModelDetails['priceModel'] == "Aggressive Curve") { echo "selected"; } ?>>Aggressive Curve Pricing</option>
																		<option value="gradual_graph_pricing" <?php if($pricingModelDetails['priceModel'] == "Gradual Curve") { echo "selected"; } ?>>Gradual Curve Pricing</option>
																	</select>
																</td>
																<td>
																	<label class="margin-top-10 starting_price_hide">Starting Pricing</label>
																	<input type="text"  class="margin-bottom-5 pm_starting_price starting-pricing starting_price_hide" value="<?php echo sprintf("%.2f",$pricingModelDetails['startingPrice']); ?>"  />
																</td>
																<td>
																	<label class="margin-top-10 price_change_hide" >Price Change</label>
																	<input type="text" class="margin-bottom-5 price_change_hide pm_price_chagne price-change" index_no="<?php echo $i; ?>" value="<?php echo $pricingModelDetails['priceChange']; ?>"  />
																</td>
															</tr>
															
															<tr class="no-back tiered_price_tr"  >
																<td colspan="4">
																	<div class="tiered_price_div inner_table_hide">
																		<table>
																		    <?php $nextTier = 2; ?>
																			<?php if($pricingModelDetails['priceModel'] == "Tiered") {
																				$ij = 1;
																				foreach($pricingModelDetails['tiers'] as $tier_pricing_row) { ?>

																				    <?php 
																						$min_qty = $tier_pricing_row['min'];
																						$max_qty = $tier_pricing_row['max']; 
																						$tier_price = $tier_pricing_row['price'];
																					?>

																					<tr class="no-back price_slider_row price_slider_row<?php echo $i; ?> tiered_price_row" >
																
																						<td colspan="2" class="padding-left-0">
																							<label></label>
																							<div class="ranged-value<?php echo $ij.$i; ?> price_range" ></div>
																							
																							<script>
																							require(['jquery', 'jquery/ui'],function(jQuery) {
																								jQuery('.ranged-value<?php echo $ij.$i; ?>').slider({ 
																									range: true,
																									step:1,
																									min: 0,
																									max:<?php echo $quantity; ?>,

																									values:[<?php echo $min_qty; ?>,<?php echo $max_qty; ?>],
																									slide: function( event, ui ) {
																										jQuery('.ranged-value<?php echo $ij.$i; ?>').closest('tr').find('.price_low').val(ui.values[0]);
																										jQuery('.ranged-value<?php echo $ij.$i; ?>').closest('tr').find('.price_high').val(ui.values[1]);																					
																														
																									}
																								});
																							});
																							</script>
																							
																						</td>
																						
																						<td class="tier_inventry">												
																							<table>
																								<tr>
																									<td colspan="3"><label class="text-left">Tier <?php echo $ij; ?> Inventory</label></td>
																								</tr>
																								<tr>
																									<td width="40%"><input type="text" value="<?php echo $min_qty; ?>" class="price_low" onkeyup="price_range_update(<?php echo $i ?>,jQuery(this),<?php echo $quantity; ?>)" /></td>
																									<td  width="20%" style="text-align:center" ><label>-</label></td>
																									<td width="40%"><input type="text" value="<?php echo $max_qty; ?>" class="price_high" onkeyup="price_range_update(<?php echo $i ?>,jQuery(this),<?php echo $quantity; ?>)" /></td>
																								</tr>
																							</table>
																							
																						</td>
																						
																						<td>
																							<label>Tier <?php echo $ij; ?> Price</label>
																							<input type="text" index_no="<?php echo $i; ?>" class="tier_price" value="<?php echo "$".$tier_price; ?>" />
																							<img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/minus.png'); ?>" onclick="remove_row_tiered_price('<?php echo $i; ?>',jQuery(this),<?php echo $quantity; ?>)" />
																						</td>
																						
																					</tr>
																				<?php $ij++; $nextTier = $ij; } ?>

																			<?php } else { ?>

																			    <tr class="no-back price_slider_row price_slider_row<?php echo $i; ?> tiered_price_row">
															
																					<td colspan="2" class="padding-left-0">
																						<label></label>
																						<div class="priceSliderHeight">																							<div class="ranged-value1<?php echo $i; ?> price_range" ></div>
																						</div>
																						
																						<script>
																						require(['jquery', 'jquery/ui'],function(jQuery) {																		
																							
																							jQuery('.ranged-value1<?php echo $i; ?>').slider({
																						      range: true,
																						      step:1,
																						      min: 0,
																						      max: <?php echo $quantity; ?>,
																						      values: [0,<?php echo $quantity; ?>],
																						      disabled:false,
																						      slide: function( event, ui ) {																						        
																						        jQuery('.ranged-value1<?php echo $i; ?>').closest('tr').find('.price_low').val(ui.values[0]);
																								jQuery('.ranged-value1<?php echo $i; ?>').closest('tr').find('.price_high').val(ui.values[1]);
																						      }
																						    });
																							
																						});
																						</script>
																						
																					</td>
																					
																					<td class="tier_inventry">												
																						<table>
																							<tr>
																								<td colspan="3"><label class="text-left">Tier 1 Inventory</label></td>
																							</tr>
																							<tr>
																								<td width="40%"><input type="text" value="0" class="price_low"  onkeyup="price_range_update(<?php echo $i ?>,jQuery(this),<?php echo $quantity; ?>)" /></td>
																								<td  width="20%" style="text-align:center" ><label>-</label></td>
																								<td width="40%"><input type="text" class="price_high" onkeyup="price_range_update(<?php echo $i ?>,jQuery(this),<?php echo $quantity; ?>)" value="<?php echo $quantity ?>" /></td>
																							</tr>
																						</table>
																						
																					</td>
																					
																					<td>
																						<label>Tier 1 Price</label>
																						<input type="text" index_no="<?php echo $i; ?>" class="tier_price" value="$0.00" />
																						<img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/minus.png'); ?>" onclick="remove_row_tiered_price('<?php echo $i; ?>',jQuery(this),<?php echo $quantity; ?>)" />
																					</td>
																					
																				</tr>
																			<?php }  ?>

																			<tr class="no-back disabled row_prepend_tr tiered_price_row">
																				
																				<td colspan="2" class="padding-left-0">
																					<label></label>
																					<div class="priceSliderHeight">
																						<div class="ranged-valueA<?php echo $i; ?> price_range" ></div>
																					</div>
																					
																					<script>
																					require(['jquery', 'jquery/ui'],function(jQuery) {
																						jQuery('.ranged-valueA<?php echo $i; ?>').slider({
																					      range: true,
																					      step:1,
																					      min: 1,
																					      max: <?php echo $quantity; ?>,
																					      values: [0,<?php echo $quantity; ?>],
																					      disabled:true,
																					      slide: function( event, ui ) {
																					        
																					        jQuery(".ranged-valueA<?php echo $i; ?>").closest('tr').find('.price_low').val(ui.values[0]);
																							jQuery(".ranged-valueA<?php echo $i; ?>").closest('tr').find('.price_high').val(ui.values[1]);						
																					      }
																					    });
																						   
																						
																					});
																					</script>
																					
																				</td>
																				
																				<td class="tier_inventry">
																					<table>
																						<tr>
																							<td colspan="3"><label class="text-left">Tier <span class="range_price_last_count<?php echo $i; ?>"><?php echo $nextTier; ?></span> Inventory</label></td>
																						</tr>
																						<tr>
																							<td width="40%"><input type="text" value="1" disabled="disabled" class="price_low pm_price_low" onkeyup="price_range_update(<?php echo $i ?>,jQuery(this),<?php echo $quantity; ?>)" /></td>
																							<td  width="20%" style="text-align:center" ><label>-</label></td>
																							<td width="40%"><input type="text" disabled="disabled" class="price_high pm_price_high" onkeyup="price_range_update(<?php echo $i ?>,jQuery(this),<?php echo $quantity; ?>)" value="<?php echo $quantity ?>" /></td>
																						</tr>
																					</table>
																				</td>
																				
																				<td>
																					<label>Tier <span class="range_price_last_count<?php echo $i; ?>"><?php echo $nextTier; ?></span> Price</label>
																					<input type="text" index_no="<?php echo $i; ?>"  disabled="disabled"  class="tier_price pm_tier_price" value="$0.00" />
																					<input type="hidden" value="<?php echo $i; ?>" class="index_number" />
																					<img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/plus.png'); ?>" onclick="add_row_tiered_price('<?php echo $i; ?>',jQuery(this),<?php echo $quantity; ?>)"  />
																				</td>
																				
																			</tr>	
																		</table>
																	</div>
																</td>
															</tr>
															
																							
															
															<tr class="no-back timeframe_dropdown" >
																<td colspan="2" class="padding-left-0">
																	<label>Timeframe</label>
																	<select class="timeframe">
																		<option value="Reset" <?php if($pricingModelDetails['timeframeType'] == "Reset") { echo "selected"; } ?>>Reset</option>
																		<option value="Roll" <?php if($pricingModelDetails['timeframeType'] == "Roll") { echo "selected"; } ?>>Rolling</option>
																	</select>
																</td>
																<td colspan="2">
																	<label style="visibility:hidden" >Timeframe</label>
																	
																	<input maxlength="3" oninput="checkNumberFieldLength(this);" class="number_type_text time_frame_value" id="number_type<?php echo $i; ?>" type="number" value="<?php echo $pricingModelDetails['timeframeValue']; ?>" />
																	
																	<select class="number_type_select timeday">
																		<option value="Day" <?php if($pricingModelDetails['timeframePeriod'] == "Day") { echo "selected"; } ?>>Days</option>
																		<option value="Week" <?php if($pricingModelDetails['timeframePeriod'] == "Week") { echo "selected"; } ?>>Weeks</option>
																		<option value="Month" <?php if($pricingModelDetails['timeframePeriod'] == "Month") { echo "selected"; } ?>>Months</option>
																	</select>
																</td>
															</tr>
																					
															
															<tr class="no-back add_remove_images">										
																
																<td colspan="2" class="padding-left-0">												
																	<label  class="heading">Fulfillment</label>
																	<div class="clearfix"></div>
																	
																	<div class="position-relative">Add In-Store Pickup Location<img class="pull-right position-absolute" src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/plus.png'); ?>" /></div>
																	<div class="clearfix" style="margin-top:5px;"></div> 
																	<div class="margin-bottom-10 position-relative">2436 6th St, Boulder, CO <img class="pull-right position-absolute" src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/minus.png'); ?>" /></div>
																	<div class="clearfix"></div> 
																</td>
																
																<td colspan="2" class="">																						
																	<label class="heading" style="visibility: hidden">Fulfillment</label>												
																	<div class="clearfix"></div>
																	
																	<div class=" position-relative">Add Same Day Delivery Location <img class="pull-right position-absolute" src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/plus.png'); ?>" /></div>
																	<div class="clearfix" style="margin-top:5px;"></div> 
																	<div class="margin-bottom-10 position-relative">435 Concord Ave, Boulder, CO <img class="pull-right position-absolute" src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/minus.png'); ?>" /></div>
																	<div class="clearfix"></div>
																</td>
																
															</tr>
															
															<tr class="no-back">	
																<td colspan="2" class="padding-left-0">
																	<input type="button" value="Sync to buyr.com & Web" class="done_btn font-responsive-less" style="height: 35px;" />
																	
																</td>
																
																<td colspan="2">
																	<!--<input type="button" value="Sync to buyr.com" class="sync_btn" />-->
																	<input type="button" id="sync_buyr_btn" name="sync_buyr_btn" class="sync_btn sync_buyr_btn font-responsive-less" value="Sync to buyr.com">
																</td>
															</tr>
															
														</table>
											
												</div>
												
											</div>
										
											<div class="inner_table_hide inner_offer_tr inner_offer_tr<?php echo $i; ?>" >
												<label  class="heading">OUTSTANDING MARKETPLACE OFFERS</label>
												<label class="error-msg-offer" style="color:red;min-height:0px;"></label>
											
												<table>
													<tr class="no-back">
														<td class="padding-left-0" width="25%">
															<label class="" style="" >MSRP: </br><?php echo "$".$pricingModelDetails['msrp']; ?></label>
														</td>
														<td width="25%">
															<label class="" style="">Map Price: </br> <?php echo "$".$_product->getFinalPrice(); ?></label>
														</td>
														<td width="25%">
															<label class="" style="">Cost: </br> <?php echo "$".sprintf("%.2f",$pricingModelDetails['cost']); ?></label>
														</td>
														<td width="25%">
															<label class="" style="">Inventory: </br> <?php echo $quantity; ?></label>
														</td>
													</tr>	
													
													<tr>
														<td colspan="4" class="padding-left-0">
															<label  class="heading">Offer Specifications</label>
														</td>
													</tr>								
													
													<tr class="no-back">
													
														<td colspan="2" class="padding-left-0">
														    <input type="hidden" class="buyrpid" value="<?php echo $buyr_product_id; ?>">
															<label>Minimum Price</label>
														</td>
													
														<td colspan="2">
															<input type="text" name="" id="" class="minuam_price" value="$20.00" />
														</td>
														
													</tr>									
													<tr class="no-back">
													
														<td colspan="2" class="padding-left-0">
															<label>Located Within</label>
														</td>
													
														<td colspan="2">
															<input type="text" name="" id="" class="located_within" placeholder="All" value="100 Miles" />
														</td>
														
													</tr>								
													<tr class="no-back">										
														
														<td colspan="2" class="padding-left-0">
															<label>Fulfilled via</label>
														</td>
													
														<td colspan="2">
															<select name="" id="" class="fulfilled_via" >
																<option value="All">All</option>
																<option value="delivery">Delivery</option>
																<option value="pickUpInStore">In-Store Pickup</option>
																<option value="delivery" disabled>Same Day Delivery</option>												
																
															</select>
														</td>
														
													</tr>
													
													<tr class="no-back">	
														<td colspan="2" class="padding-left-0">
															<label>Expiring</label>
														</td>
														
														<td colspan="2">
															<select name="" id="" class="expiring" >												
																<option value="All">All</option>
																<option value="0">Today</option>
																<option value="1">Tomorrow</option>											
															</select>
														</td>
													</tr>
													
													<tr>
														<td colspan="4" class="padding-left-0">
															<label  class="heading">Offer Preview</label>
														</td>
													</tr>
													
													<tr class="no-back tr_font_less">
														<td colspan="2" class="padding-left-0">	
															<div>Available Inventory: 12</div>
															<div class="clearfix" style="margin-top:5px;"></div> 
															<div class="margin-bottom-10">Average Offer Price: $22.60</div>
															<div class="clearfix"></div> 
														</td>
														
														<td colspan="2" class="">
															<div>Matching Offers: 8</div>
															<div class="clearfix" style="margin-top:5px;"></div> 
															<div class="margin-bottom-10">Potential Revenue: $172.30</div>
															<div class="clearfix"></div>
														</td>												
													</tr>	
																								
													<tr class="no-back">	
														<td colspan="2" class="padding-left-0">
															<input type="button" id="<?php if($buyr_product_id != "empty") { echo $buyr_product_id; } ?>" value="<?php if(isset($getProductOffersCount['offers'][$buyr_product_id])) { if($getProductOffersCount['offers'][$buyr_product_id] == 1) { echo "Accept ".$getProductOffersCount['offers'][$buyr_product_id]." New Offer"; } else { echo "Accept ".$getProductOffersCount['offers'][$buyr_product_id]." New Offers"; } } else { echo "Accept 0 New Offers"; } ?>" class="done_btn font-responsive-less all_offer_accept_btn" style="height: 35px;" />
														</td>
														
														<td colspan="2">
															<input type="button" value="Save filters & Close" class="sync_btn save_filter_close font-responsive-less" />
														</td>
													</tr>									
													
												</table>
											</div>
										
										</div>
																			
										<div class="pull-right inner_table_right_part">
										
											<div class="inner_table_hide inner_price_tr inner_price_tr<?php echo $i; ?>" >								
											
												<!--sloped price-->
											
												<div class="sloped_price sloped_price<?php echo $i; ?>">
												
													<div class="page-actions" data-ui-id="page-actions-toolbar-content-header">
														<div class="page-actions-inner" data-title="Catalog">
															<div class="page-actions-buttons">
						
																<div id="add_new_product" class="actions-split">
																
																	<button id="add_new_product-button" class="pricing_done done_btn inner_price_done_btn text-center inner_price_done_btn<?php echo $i; ?> action-default" style="border-right:1px solid #ffffff;" >
																		Done
																	</button>
																	
																	<button onclick="(function(e) { e.stopPropagation(); })(event);open_innerprice_done_button_menu(<?php echo $i ?>)"  class="action-toggle inner_price_done_btn arrow inner_price_done_btn<?php echo $i; ?>" data-ui-id="products-list-add-new-product-button-dropdown">											            
																	</button>

																	<ul class="dropdown-menu" data-ui-id="products-list-add-new-product-button-dropdown-menu">
																		<li>
																			<span class="item item-default" data-ui-id="products-list-add-new-product-button-item-simple">
																			Export Pricing Data            
																			</span>
																		</li>
																		<li>
																			<span class="item" data-ui-id="products-list-add-new-product-button-item-configurable">
																			Go to Product Offers        
																			</span>
																		</li>
																	</ul>
																</div>

															</div>
														</div>
													</div>
																								
													<button class="compare_dropdown compare_dropdown<?php echo $i; ?>" onclick="(function(e) { e.stopPropagation(); })(event);open_innerprice_compare_btn(<?php echo $i; ?>)" >
														<img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/compare_dropdown.png'); ?>" />
														&nbsp;Compare&nbsp;
														<i class="fa fa-chevron-down" aria-hidden="true"></i>
													</button>
													
													<ul class="compare_dropdown_details compare_dropdown_details<?php echo $i; ?> hide">
														<li>
															<table>
																<tr>
																	<td>Competition Prices</td>
																	<td>Sales Information</td>
																</tr>
																
																<tr>
																	<td><input type="checkbox" class="checkbox_images" value="" id="compare1<?php echo $i; ?>" /><label for="compare1<?php echo $i; ?>">&nbsp; Amazon.com</label></td>
																	<td><input type="checkbox" class="checkbox_images" value="" id="compare2<?php echo $i; ?>" /><label for="compare2<?php echo $i; ?>">&nbsp; MSRP</label></td>
																</tr>
																
																<tr>
																	<td><input type="checkbox" class="checkbox_images" value="" id="compare3<?php echo $i; ?>" /><label for="compare3<?php echo $i; ?>">&nbsp; Google Shopping</label></td>
																	<td><input type="checkbox" class="checkbox_images" value="" id="compare4<?php echo $i; ?>" /><label for="compare4<?php echo $i; ?>">&nbsp; MAP Price</label></td>
																</tr>
																
																<tr>
																	<td><input type="checkbox" class="checkbox_images" value="" id="compare5<?php echo $i; ?>" /><label for="compare5<?php echo $i; ?>">&nbsp; Walmart.com</label></td>
																	<td><input type="checkbox" class="checkbox_images" value="" id="compare6<?php echo $i; ?>" /><label for="compare6<?php echo $i; ?>" >&nbsp; My Product Cost</label></td>
																</tr>
																
																<tr>
																	<td><input type="checkbox" class="checkbox_images" value="" id="compare7<?php echo $i; ?>" /> &nbsp; <label for="compare7<?php echo $i; ?>">&nbsp; eBay.com</label></td>
																	<td><input type="checkbox" class="checkbox_images" value="" id="compare8<?php echo $i; ?>" /> &nbsp; <label for="compare8<?php echo $i; ?>">&nbsp; My Web Pricing</label></td>
																</tr>
																
																<tr>
																	<td><input type="checkbox" class="checkbox_images" value="" id="compare9<?php echo $i; ?>" /><label for="compare9<?php echo $i; ?>">&nbsp; Highest Buyr Price</label></td>
																	<td><input type="checkbox" class="checkbox_images" value="" id="compare10<?php echo $i; ?>" /><label for="compare10<?php echo $i; ?>">&nbsp; My Buyr.com Price</label></td>
																</tr>
																
																<tr>
																	<td><input type="checkbox" class="checkbox_images" value="" id="compare11<?php echo $i; ?>" /><label for="compare11<?php echo $i; ?>">&nbsp; Lowest Buyr Price</label></td>
																	<td><input type="checkbox" class="checkbox_images" value="" id="compare12<?php echo $i; ?>" /><label for="compare12<?php echo $i; ?>">&nbsp; Average Matched Sale</label></td>
																</tr>
																
																<tr>
																	<td><input type="checkbox" class="checkbox_images" value="" id="compare13<?php echo $i; ?>" /><label for="compare13<?php echo $i; ?>">&nbsp; Average Buyr Price</label></td>
																	<td><input type="checkbox" class="checkbox_images" value="" id="compare14<?php echo $i; ?>" /><label for="compare14<?php echo $i; ?>">&nbsp; Average Accepted Offer</label></td>
																</tr>
																
																<tr>
																	<td><input type="checkbox" class="checkbox_images" id="compare15<?php echo $i; ?>" value="" /> <label for="compare15<?php echo $i; ?>" class="compare_add_new">&nbsp; <span>Add New</span></label></td>
																	<td></td>
																</tr>
																
																<tr>
																	<td><a class="action-tertiary action-tertiary-clear">Clear All</a></td>
																	<td><input type="submit" name="applyattribute" value="Apply" class="action-tertiary-apply"></td>
																</tr>
																
															</table>
															
														</li>
													</ul>											
												
													<table>
														<tr class="no-back">
															<td width="100%" class="padding-right-0" colspan="5" >
															<!--<img alt="Chart"  style="height:100%;width:100%;" src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/chart.png'); ?>" />-->
															<div id="sloped_chart<?php echo $i; ?>" ></div>
															</td>
														</tr>
														
														<tr class="font-responsive-less">
															<td width="20%" >
																<label class="heading text-center">Current Sales: </br><span class="color-43c76f">256</span></label>
															</td>
															<td width="20%">
																<label class="heading text-center">Current Revenue: </br><span class="color-43c76f">$4588.25</span></label>
															</td>
															<td width="20%">
																<label class="heading text-center">Model Price: </br><span class="color-43c76f">$578.25</span></label>
															</td>
															<td width="20%">
																<label class="heading text-center">Potential Revenue: </br><span class="pm_potential_revenue color-43c76f">$5448.25</span></label>
															</td>
															<td width="20%">
																<label class="heading text-center">Margin: </br><span class="pm_margin color-43c76f">$48.25</span></label>
															</td>
														</tr>
													</table>
												
												</div>
												
											</div>
										
											<div class="inner_table_hide inner_offer_tr inner_offer_tr<?php echo $i; ?>" >
												
												<div class="page-actions">
													
													<div class="page-actions-inner">
														<div class="page-actions-buttons">
					
															<div id="add_new_product" class="actions-split">
															
																<button id="add_new_product-button" class="offer_done done_btn inner_price_done_btn text-center inner_price_done_btn<?php echo $i; ?> action-default" style="border-right:1px solid #ffffff;" >
																	Done
																</button>
																
																<button onclick="(function(e) { e.stopPropagation(); })(event);open_inneroffer_done_button_menu(<?php echo $i ?>)" class="action-toggle inner_price_done_btn arrow inner_price_done_btn<?php echo $i; ?>" data-ui-id="products-list-add-new-product-button-dropdown">											            
																</button>

																<ul class="dropdown-menu" data-ui-id="products-list-add-new-product-button-dropdown-menu">
																	<li>
																		<span class="item item-default" data-ui-id="products-list-add-new-product-button-item-simple">
																		Export Pricing Data            
																		</span>
																	</li>
																	<li>
																		<span class="item" data-ui-id="products-list-add-new-product-button-item-configurable">
																		Go to Product Offers        
																		</span>
																	</li>
																</ul>
															</div>

														</div>
													</div>
													
												</div>
												
												<button class="compare_dropdown compare_dropdown<?php echo $i; ?>" onclick="(function(e) { e.stopPropagation(); })(event);open_innerprice_compare_btn(<?php echo $i; ?>)" >
													<img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/compare_dropdown_offer.png'); ?>" />
													&nbsp;Compare&nbsp;
													<i class="fa fa-chevron-down" aria-hidden="true"></i>
												</button>
												
												<ul class="compare_dropdown_details compare_dropdown_details<?php echo $i; ?> hide">
													<li>
														<table>
															<tr>
																<td>Competition Prices</td>
																<td>Sales Information</td>
															</tr>
															
															<tr>
																<td><input type="checkbox" class="checkbox_images" value="" id="compare46<?php echo $i; ?>" /><label for="compare46<?php echo $i; ?>">&nbsp; Amazon.com</label></td>
																<td><input type="checkbox" class="checkbox_images" value="" id="compare47<?php echo $i; ?>" /><label for="compare47<?php echo $i; ?>">&nbsp; MSRP</label></td>
															</tr>
															
															<tr>
																<td><input type="checkbox" class="checkbox_images" value="" id="compare48<?php echo $i; ?>" /><label for="compare48<?php echo $i; ?>">&nbsp; Google Shopping</label></td>
																<td><input type="checkbox" class="checkbox_images" value="" id="compare49<?php echo $i; ?>" /><label for="compare49<?php echo $i; ?>">&nbsp; MAP Price</label></td>
															</tr>
															
															<tr>
																<td><input type="checkbox" class="checkbox_images" value="" id="compare50<?php echo $i; ?>" /><label for="compare50<?php echo $i; ?>">&nbsp; Walmart.com</label></td>
																<td><input type="checkbox" class="checkbox_images" value="" id="compare51<?php echo $i; ?>" /><label for="compare51<?php echo $i; ?>" >&nbsp; My Product Cost</label></td>
															</tr>
															
															<tr>
																<td><input type="checkbox" class="checkbox_images" value="" id="compare52<?php echo $i; ?>" /> &nbsp; <label for="compare52<?php echo $i; ?>">&nbsp; eBay.com</label></td>
																<td><input type="checkbox" class="checkbox_images" value="" id="compare53<?php echo $i; ?>" /> &nbsp; <label for="compare53<?php echo $i; ?>">&nbsp; My Web Pricing</label></td>
															</tr>
															
															<tr>
																<td><input type="checkbox" class="checkbox_images" value="" id="compare54<?php echo $i; ?>" /><label for="compare54<?php echo $i; ?>">&nbsp; Highest Buyr Price</label></td>
																<td><input type="checkbox" class="checkbox_images" value="" id="compare55<?php echo $i; ?>" /><label for="compare55<?php echo $i; ?>">&nbsp; My Buyr.com Price</label></td>
															</tr>
															
															<tr>
																<td><input type="checkbox" class="checkbox_images" value="" id="compare56<?php echo $i; ?>" /><label for="compare56<?php echo $i; ?>">&nbsp; Lowest Buyr Price</label></td>
																<td><input type="checkbox" class="checkbox_images" value="" id="compare57<?php echo $i; ?>" /><label for="compare57<?php echo $i; ?>">&nbsp; Average Matched Sale</label></td>
															</tr>
															
															<tr>
																<td><input type="checkbox" class="checkbox_images" value="" id="compare58<?php echo $i; ?>" /><label for="compare58<?php echo $i; ?>">&nbsp; Average Buyr Price</label></td>
																<td><input type="checkbox" class="checkbox_images" value="" id="compare59<?php echo $i; ?>" /><label for="compare59<?php echo $i; ?>">&nbsp; Average Accepted Offer</label></td>
															</tr>
															
															<tr>
																<td><input type="checkbox" class="checkbox_images" id="compare60<?php echo $i; ?>" value="" /> <label for="compare60<?php echo $i; ?>" class="compare_add_new">&nbsp; <span>Add New</span></label></td>
																<td></td>
															</tr>
															
															<tr>
																<td><a class="action-tertiary action-tertiary-clear">Clear All</a></td>
																<td><input type="submit" name="applyattribute" value="Apply" class="action-tertiary-apply"></td>
															</tr>
															
														</table>
														
													</li>
												</ul>											
												
												
												<table>
													<tr class="no-back">
														<td width="100%" class="padding-right-0" colspan="4" >											
															<div id="offer_chart<?php echo $i; ?>" style="min-height:336px;"></div>
														</td>
													</tr>
													<tr class="font-responsive-less">
														<td width="25%">
															<label class="heading text-center">Competing Retailers: </br><span class="color-43c76f">26</span></label>
														</td>
														<td width="25%">
															<label class="heading text-center">Outstanding Offers: </br><span class="color-43c76f">4588</span></label>
														</td>
														<td width="25%">
															<label class="heading text-center">Top Offer Average: </br><span class="color-43c76f">$18.25</span></label>
														</td>
														<td width="25%">
															<label class="heading text-center">Total Offer Demand: </br><span class="color-43c76f">$5448.25</span></label>
														</td>
													</tr>
												</table>
											
											</div>
										
										</div>
										
										<div class="border border<?php echo $i; ?> clearfix hide"></div>
										
									</td>
									
							</tr>							
							
						<?php
							$i++; 
							$j++;
					    }
						?>								
					   <?php } else { echo "<tr><td colspan='3'><h3>0 records found</h3></td></tr>"; } ?>
	        		</tbody>
	      		</table>
			</div>
		</div>
	</div>
</div>

<?php include_once("dashboard_js.phtml"); ?>
