<link href="<?php echo $this->getViewFileUrl("Buyr_MarketPlace::css/profile.css"); ?>" rel="stylesheet" type="text/css" />
<?php 
	$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
	$resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
	$connection = $resource->getConnection();
	$getprofilequery = "select * from buyr_seller_info";
	$rows = $connection->fetchAll($getprofilequery);
	$profile_details = array();
	foreach ($rows as $rows_new) {
	    $profile_details['buyr_retailer_id'] = $rows_new['buyr_retailer_id'];
	    $profile_details['buyr_retailer_status'] = $rows_new['buyr_retailer_status'];
	    $profile_details['email'] = $rows_new['email'];
	    $profile_details['firstname'] = $rows_new['firstname'];
	    $profile_details['lastname'] = $rows_new['lastname'];
	    $profile_details['password'] = $rows_new['password'];
	    $profile_details['entity_name'] = $rows_new['entity_name'];
	    $profile_details['trade_name'] = $rows_new['trade_name'];
	    $profile_details['ein_number'] = $rows_new['ein_number'];
	    $profile_details['business_phone'] = $rows_new['business_phone'];
	    $profile_details['adminPhone'] = $rows_new['adminPhone'];
	    $profile_details['address_line_1'] = $rows_new['address_line_1'];
	    $profile_details['address_line_2'] = $rows_new['address_line_2'];
	    $profile_details['city'] = $rows_new['city'];
	    $profile_details['state'] = $rows_new['state'];
	    $profile_details['zip'] = $rows_new['zip'];
	    $profile_details['product_origin_address_line_1'] = $rows_new['product_origin_address_line_1'];
	    $profile_details['product_origin_address_line_2'] = $rows_new['product_origin_address_line_2'];
	    	
	    $profile_details['product_origin_city'] = $rows_new['product_origin_city'];
	    $profile_details['product_origin_state'] = $rows_new['product_origin_state'];
	    $profile_details['product_origin_zip'] = $rows_new['product_origin_zip'];
	    $profile_details['routing_number'] = $rows_new['routing_number'];
	    $profile_details['account_number'] = $rows_new['account_number'];
	    $profile_details['name_on_card'] = $rows_new['name_on_card'];
	    $profile_details['card_number'] = $rows_new['card_number'];
	    $profile_details['retailer_image'] = $rows_new['retailer_image'];
	    $profile_details['created_at'] = $rows_new['created_at'];

	}
$statetablename = $resource->getTableName('directory_country_region');
$select_state_query = "select * from directory_country_region where country_id='US'";
$select_state = $connection->fetchAll($select_state_query); 
$state_list = array();
foreach($select_state as $select_state_new)
{
$state_list[$select_state_new['code']] = $select_state_new['default_name'];
}
?>

<div class="" onclick="reset()" >
	<div id="loading-indicator" class="hide" >
		<div class="loader"></div>
	</div>

	<?php include_once('header.phtml'); ?>
	
	<div class="clearfix"></div>
	
	<div id="profile" class="col-xs-9" >
		
		<div class="clearfix"></div>
		<table>
			<tr>				
				<td width="25%" >
					<table>
						<tr>
							<td>
								<div class="profile_img">
									<h2></h2>
									
									<div class="clearfix"></div>
									
									<div class="img_div" style="background-image: url('<?php if(isset($profile_details['retailer_image']) && $profile_details['retailer_image'] != "" && $img_exist == 1) { echo $profile_details['retailer_image']; } else { echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/admin_profile_large.jpg'); } ?>'); background-position: center; background-repeat:no-repeat;background-size: 100% 100%;">
									    <form id="data" method="post" enctype="multipart/form-data">
									        <input type="hidden" value="<?php echo $block->getFormKey(); ?>" name="form_key" />
										    <input type="file" name="image" id="image" onchange="trigger_upload();" style="display: none"  />

									        <label for="image" id="profile_img_label"> <img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/profile_camera_icon.png'); ?>" /> Change Avatar </label>
										    <button style="display:none;" id="imagebtn">Submit</button>
										</form>
									    
									</div>									
									<div class="clearfix"></div>
								</div>
							</td>
						</tr>
					</table>
				</td>					
				<td width="25%" class="border-right" >
					<table class="pull-left" style="width:87%">
						<tr>
							<td><h2 class="heading">Personal Info</h2></td><td><h2 class="highlight"><span onclick="change_profile('personal_information',jQuery(this))" class="original">Change Password</span><span class="save hide" onclick="save_changes('personal_information',jQuery(this))">Save</span></h2></td>
						</tr>	
						<tr class="personal_information">
							<td colspan="2">
								<label class="label_names">First Name</label>
								<input type="text" value="<?php if(isset($profile_details['firstname'])) { echo $profile_details['firstname']; } ?>" name="firstname" id="firstname" class="input_field" />
								<label class="img_div"><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/checked.png'); ?>"  class="valid_img" /><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/unchecked.png'); ?>" class="error_img" /></label>
								<div class="error-msg"></div>
							    <div class="clear"></div>
							</td>
						</tr>	
						<tr class="personal_information">
							<td colspan="2">
								<label class="label_names">Last Name</label>
								<input type="text" value="<?php if(isset($profile_details['lastname'])) { echo $profile_details['lastname']; } ?>" class="input_field" name="lastname" id="lastname" />
								<label class="img_div"><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/checked.png'); ?>"  class="valid_img" /><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/unchecked.png'); ?>" class="error_img" /></label>
								<div class="error-msg"></div>
							    <div class="clear"></div>
							</td>
						</tr>	
						<tr class="personal_information">
							<td colspan="2">
								<label class="label_names">Email</label>
								<input type="text" value="<?php if(isset($profile_details['email'])) { echo $profile_details['email']; } ?>" name="email" id="email" class="input_field" readonly />
								<label class="img_div"><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/checked.png'); ?>"  class="valid_img" /><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/unchecked.png'); ?>" class="error_img" /></label>
							    <div class="clear"></div>
							</td>
						</tr>	
						<tr class="personal_information personal_inf hide">
							<td colspan="2">
								<label class="label_names">Reset Password</label>
								<input type="password" value="" name="" id="" class="input_field" />
								<label class="img_div"><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/checked.png'); ?>"  class="valid_img" /><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/unchecked.png'); ?>" class="error_img" /></label>
							    <div class="clear"></div>
							</td>
						</tr>
						<tr class="personal_information personal_inf hide">
							<td colspan="2">
								<label class="label_names">Confirm Password</label>
								<input type="password" value="" name="" id="" class="input_field" />
								<label class="img_div"><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/checked.png'); ?>"  class="valid_img" /><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/unchecked.png'); ?>" class="error_img" /></label>
							    <div class="clear"></div>
							</td>
						</tr>
						<tr class="subscription_model">
							<td><h2 class="heading">Subscription Model</h2></td> <td><h2 class="highlight">Change</h2></td>
						</tr>
						
						<tr class="subscription_model">
							<td>
								<i>Advanced Model</i>
							</td>					
						</tr>
						<tr>
							<td><h2 class="heading">Banking Information</h2></td><td><h2 class="highlight" ><span onclick="change_profile('banking_information',jQuery(this))" class="original">Change</span><span class="save hide" onclick="save_changes('banking_information',jQuery(this))">Save</span></h2></td>
						</tr>
						<tr class="banking_information">
							<td colspan="2">
								<label class="label_names">Routing Number</label>
								<input type="text" value="<?php if(isset($profile_details['routing_number'])) { echo $profile_details['routing_number']; } ?>" name="routing_number" id="routing_number" class="input_field" />
								<label class="img_div"><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/checked.png'); ?>"  class="valid_img" /><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/unchecked.png'); ?>" class="error_img" /></label>
								<div class="error-msg"></div>
							    <div class="clear"></div>
							</td>
						</tr>
						<tr class="banking_information">
							<td colspan="2">
								<label class="label_names">Account Number</label>
								<input type="text" value="<?php if(isset($profile_details['account_number'])) { echo $profile_details['account_number']; } ?>" name="account_number" id="account_number" class="input_field" />
								<label class="img_div"><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/checked.png'); ?>"  class="valid_img" /><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/unchecked.png'); ?>" class="error_img" /></label>
								<div class="error-msg"></div>
							    <div class="clear"></div>
							</td>
						</tr>
						<tr>
							<td><h2 class="heading">Credit Card Information</h2></td><td><h2 class="highlight" ><span onclick="change_profile('credit_card_information',jQuery(this))" class="original">Change</span><span class="save hide" onclick="save_changes('credit_card_information',jQuery(this))">Save</span></h2></td>
						</tr>
						<tr class="credit_card_information">
							<td colspan="2">
								<label class="label_names">Name On Card</label>
								<input type="text" value="<?php if(isset($profile_details['name_on_card'])) { echo $profile_details['name_on_card']; } ?>" name="name_on_card" id="name_on_card" class="input_field" />
								<label class="img_div"><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/checked.png'); ?>"  class="valid_img" /><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/unchecked.png'); ?>" class="error_img" /></label>
								<div class="error-msg"></div>
							    <div class="clear"></div>
							</td>
						</tr>
						<tr class="credit_card_information">
							<td colspan="2">
								<label class="label_names">Card Number</label>
								<input type="text" value="<?php if(isset($profile_details['card_number'])) { echo $profile_details['card_number']; } ?>" name="card_number" id="card_number" class="input_field" />
								<label class="img_div"><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/checked.png'); ?>"  class="valid_img" /><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/unchecked.png'); ?>" class="error_img" /></label>
								<div class="error-msg"></div>
							    <div class="clear"></div>
							</td>
						</tr>
					</table>
				</td>				
				<td width="50%">
					<table class="pull-right business_inf">
						<tr>
							<td colspan="2"><h2 class="heading">Business Information</h2></td><td colspan="2"><h2 class="highlight" ><span onclick="change_profile('business_information',jQuery(this))" class="original">Change</span><span class="save hide" onclick="save_changes('business_information'),jQuery(this)">Save</span></h2></td>
						</tr>	
						<tr class="business_information">
							<td colspan="4">
								<label class="label_names">Entity Name</label>
								<input type="text" value="<?php if(isset($profile_details['entity_name'])) { echo $profile_details['entity_name']; } ?>" name="entity_name" id="entity_name" class="input_field" />
								<label class="img_div"><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/checked.png'); ?>"  class="valid_img" /><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/unchecked.png'); ?>" class="error_img" /></label>
								<div class="error-msg"></div>
							    <div class="clear"></div>
							</td>
						</tr>
						<tr class="business_information">
							<td colspan="4">
								<label class="label_names">Trade Name (DBA)</label>
								<input type="text" value="<?php if(isset($profile_details['trade_name'])) { echo $profile_details['trade_name']; } ?>" name="trade_name" id="trade_name" class="input_field" />
								<label class="img_div"><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/checked.png'); ?>"  class="valid_img" /><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/unchecked.png'); ?>" class="error_img" /></label>
								<div class="error-msg"></div>
							    <div class="clear"></div>
							</td>
						</tr>
						<tr class="business_information">
							<td colspan="4">
								<label class="label_names">EIN Number</label>
								<input type="text" value="<?php if(isset($profile_details['ein_number'])) { echo $profile_details['ein_number']; } ?>" name="ein_number" id="ein_number" class="input_field" />
								<label class="img_div"><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/checked.png'); ?>"  class="valid_img" /><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/unchecked.png'); ?>" class="error_img" /></label>
								<div class="error-msg"></div>
							    <div class="clear"></div>
							</td>
						</tr>
						<tr class="business_information">
							<td colspan="2">
								<label class="label_names">Business Phone</label>
								<input type="text" value="<?php if(isset($profile_details['business_phone'])) { echo $profile_details['business_phone']; } ?>" name="business_phone" id="business_phone" class="input_field" />
								<label class="img_div"><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/checked.png'); ?>"  class="valid_img" /><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/unchecked.png'); ?>" class="error_img" /></label>
								<div class="error-msg"></div>
							    <div class="clear"></div>
							</td>
							<td colspan="2">
								<label class="label_names">Admin Phone</label>
								<input type="text" value="<?php if(isset($profile_details['adminPhone'])) { echo $profile_details['adminPhone']; } ?>" name="adminPhone" id="adminPhone" class="width-82 input input_field" />
								<label class="img_div"><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/checked.png'); ?>"  class="valid_img" /><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/unchecked.png'); ?>" class="error_img" /></label>
								<div class="error-msg"></div>
							    <div class="clear"></div>
							</td>
						</tr>
						<tr>
							<td>
								<i style="visibility:hidden">Advanced Model</i>
							</td>					
						</tr>	
						<tr>
							<td colspan="2"><h2 class="heading">Registered Address</h2></td><td colspan="2"><h2 class="highlight" ><span onclick="change_profile('registered_address1',jQuery(this))" class="original">Change</span><span class="save hide" onclick="save_changes('registered_address1',jQuery(this))">Save</span></h2></td>
						</tr>
						<tr class="registered_address1">
							<td colspan="2">
								<label class="label_names">Street Address</label>
								<input type="text" value="<?php if(isset($profile_details['address_line_1'])) { echo $profile_details['address_line_1']; } ?>" name="address_line_1" id="address_line_1" class="input_field" />
								<label class="img_div"><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/checked.png'); ?>"  class="valid_img" /><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/unchecked.png'); ?>" class="error_img" /></label>
								<div class="error-msg"></div>
							    <div class="clear"></div>
							</td>
							<td colspan="2">
								<label class="label_names">App, Suite, Unit, etc</label>
								<input type="text" value="<?php if(isset($profile_details['address_line_2'])) { echo $profile_details['address_line_2']; } ?>" name="address_line_2" id="address_line_2" class="width-82 input input_field" />
								<label class="img_div"><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/checked.png'); ?>"  class="valid_img" /><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/unchecked.png'); ?>" class="error_img" /></label>
								<div class="error-msg"></div>
							    <div class="clear"></div>
							</td>
						</tr>
						<tr class="registered_address1">
							<td colspan="2">
								<label class="label_names">City</label>
								<input type="text" value="<?php if(isset($profile_details['city'])) { echo $profile_details['city']; } ?>" name="city" id="city" class="input_field" />
								<label class="img_div"><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/checked.png'); ?>"  class="valid_img" /><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/unchecked.png'); ?>" class="error_img" /></label>
								<div class="error-msg"></div>
							    <div class="clear"></div>
							</td>
							<td>
								<label class="label_names">State</label>
								<select name="state" id="state" class="width-82" disabled >
								<option value="string">Select</option>
								<?php
								foreach($state_list as $key => $value) {
								?>
                                   <option value="<?php echo $key; ?>" <?php if(isset($profile_details['state'])) { if($profile_details['state'] == $key) { echo "selected"; } } ?>><?php echo $value; ?></option>
								<?php 
								}
								?>
								</select>
								<div class="error-msg"></div>
							    <div class="clear"></div>
							</td>
							<td>
								<label class="label_names">Zip</label>
								<input type="text" value="<?php if(isset($profile_details['zip'])) { echo $profile_details['zip']; } ?>" name="zip" id="zip" class="width-65 input_field" />
								<label class="img_div"><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/checked.png'); ?>"  class="valid_img" /><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/unchecked.png'); ?>" class="error_img" /></label>
								<div class="error-msg"></div>
							    <div class="clear"></div>
							</td>
						</tr>	
						<tr>
							<td colspan="2"><h2 class="heading">Product Origin Address</h2></td><td colspan="2"><h2 class="highlight" ><span onclick="change_profile('registered_address2',jQuery(this))" class="original">Change</span><span class="save hide" onclick="save_changes('registered_address2'),jQuery(this)">Save</span></h2></td>

						</tr>
						<tr class="registered_address2">
							<td colspan="2">
								<label class="label_names">Street Address</label>
								<input type="text" value="<?php if(isset($profile_details['product_origin_address_line_1'])) { echo $profile_details['product_origin_address_line_1']; } ?>" class="input_field" name="product_origin_address_line_1" id="product_origin_address_line_1" />
								<label class="img_div"><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/checked.png'); ?>"  class="valid_img" /><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/unchecked.png'); ?>" class="error_img" /></label>
								<div class="error-msg"></div>
							    <div class="clear"></div>
							</td>
							<td colspan="2">
								<label class="label_names">App, Suite, Unit, etc</label>
								<input type="text" value="<?php if(isset($profile_details['product_origin_address_line_2'])) { echo $profile_details['product_origin_address_line_2']; } ?>" class="width-82 input input_field" name="product_origin_address_line_2" id="product_origin_address_line_2" />
								<label class="img_div"><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/checked.png'); ?>"  class="valid_img" /><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/unchecked.png'); ?>" class="error_img" /></label>
								<div class="error-msg"></div>
							    <div class="clear"></div>
							</td>
						</tr>
						
						<tr class="registered_address2">
							<td colspan="2">
								<label class="label_names">City</label>
								<input type="text" value="<?php if(isset($profile_details['product_origin_city'])) { echo $profile_details['product_origin_city']; } ?>" name="product_origin_city" id="product_origin_city" class="input_field" />
								<label class="img_div"><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/checked.png'); ?>"  class="valid_img" /><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/unchecked.png'); ?>" class="error_img" /></label>
								<div class="error-msg"></div>
							    <div class="clear"></div>
							</td>
							<td>
								<label class="label_names">State</label>
								<select  name="product_origin_state" id="product_origin_state" class="width-82" disabled >
								<option value="string">Select</option>
								<?php
								foreach($state_list as $key => $value) {
								?>
                                   <option value="<?php echo $key; ?>" <?php if(isset($profile_details['product_origin_state'])) { if($profile_details['product_origin_state'] == $key) { echo "selected"; } }?>><?php echo $value; ?></option>
								<?php 
								}
								?>
								</select>

								<div class="error-msg"></div>
							    <div class="clear"></div>
							</td>
							<td>
								<label class="label_names">Zip</label>
								<input type="text" value="<?php if(isset($profile_details['product_origin_zip'])) { echo $profile_details['product_origin_zip']; } ?>" name="product_origin_zip" id="product_origin_zip" class="width-65 input_field" />
								<label class="img_div"><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/checked.png'); ?>"  class="valid_img" /><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/unchecked.png'); ?>" class="error_img" /></label>
								<div class="error-msg"></div>
							    <div class="clear"></div>
							</td>
						</tr>
					</table>
				</td>		
				
			</tr>
		</table>
		
	</div>

</div>

<?php include_once("profile_js.phtml"); ?>

