
<style>
	.page-header{
		display:none;
	}
	.main-col{
	    width:100% !important;
	}
</style>

<div id="template">

	<header class="signIn_header">
		<div id="logo">
			<span><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/magento_logo.png'); ?>" /></span>
		</div>
	</header>

	<div id="form">
	
		<form id="signInForm" name="signInForm" method="post" enctype="multipart/form-data" >
			
			<h2>Reset Password</h2>
			<div class="input_field_div">
				<label for="password" class="label_names" >OTP<span class="password_notify"></span></label>
				<input type="password" name="otp" class="creatform" id="otp" />
				<label class="img_div"><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/checked.png'); ?>"  class="valid_img" /><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/unchecked.png'); ?>" class="error_img" /></label>
				<label class="error"></label>
				<div class="clear"></div>
			</div>
			
			<div class="clearfix"></div>
			
			<div class="input_field_div">
				<label for="password" class="label_names" >New Password<span class="password_notify">at least 6 characters</span></label>
				<input type="password" name="password" class="creatform" id="password" />
				<label class="img_div"><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/checked.png'); ?>"  class="valid_img" /><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/unchecked.png'); ?>" class="error_img" /></label>
				<label class="error"></label>
				<div class="clear"></div>
			</div>
			
			<div class="clearfix"></div>

			<div class="input_field_div clear">
				<label for="cp" class="label_names" >Confirm New Password</label>
				<input type="password" name="confirmpassword" class="creatform" id="confirmpassword" />
				<label class="img_div"><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/checked.png'); ?>"  class="valid_img" /><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/unchecked.png'); ?>" class="error_img" /></label>
				<label class="error"></label>
				<div class="clear"></div>
			</div>
			
			<input type="button" class="reset_btn" id="reset_btn" name="" value="SUBMIT">			
							
		</form>
	
	</div>

</div>
<script type="text/javascript">
        require(['jquery'],function($){
        	var form_key = "<?php echo $block->getFormKey(); ?>";
        	jQuery(document).on('click','#reset_btn',function(){
        	   if(jQuery("#password").hasClass("valid") && jQuery("#confirmpassword").hasClass("valid"))
        	   {
	        		/*jQuery.ajax({url: "<?php echo $block->getUrl('buyr/forgetpassword/sendresetlink'); ?>",data:{'form_key':form_key}, success: function(result){

	        			alert(result);
		        	   	   
		        	}});*/
        	   }
        	   else
        	   {
        	   	  jQuery(".creatform").each(function(){
					    if(jQuery(this).val() == "")
					    {
					    	jQuery(this).removeClass('error');
					    	jQuery(this).addClass('error');
					    	jQuery(this).parent().find('.error').html("This field is required");

					    }
				   })
        	   }
        	});

        	jQuery(document).on('mousedown','.input_field',function(e){
			  e.preventDefault();
			  return false;
			});	

			jQuery(document).on('keyup','.creatform',function(){
				var thisid = jQuery(this).attr('id');

				if(thisid == "password")
	    		{
	    				var fieldvalue = jQuery(this).val();
	    				if(fieldvalue != "" && fieldvalue.length >= 6)
	    				{
	                        jQuery(this).addClass('valid');
						    jQuery(this).removeClass('error');
						    jQuery(this).parent().find('.error').hide();
	    				}
	    				else
	    				{
	    					if(fieldvalue == "")
							{
	                            jQuery(this).addClass('error');
							    jQuery(this).removeClass('valid');
							    jQuery(this).parent().find('.error').show();
							    jQuery(this).parent().find('.error').text("This field is required");

							}
							else
							{
								jQuery(this).addClass('error');
							    jQuery(this).removeClass('valid');
							    jQuery(this).parent().find('.error').show();
							    jQuery(this).parent().find('.error').text("Please enter atleast 6 characters");
						    }

	    				}
	    		}
	    		if(thisid == "confirmpassword")
	    		{
	    			var password = jQuery('#password').val();
	    			var cpassword = jQuery(this).val();
	    			if(cpassword == password && cpassword != "")
	    			{
	    				jQuery(this).addClass('valid');
						jQuery(this).removeClass('error');
						jQuery(this).parent().find('.error').hide();

	    			}
	    			else
	    			{
	    				if(fieldvalue == "")
						{
	                            jQuery(this).addClass('error');
							    jQuery(this).removeClass('valid');
							    jQuery(this).parent().find('.error').show();
							    jQuery(this).parent().find('.error').text("This field is required");

						}
						else
						{
								jQuery(this).addClass('error');
							    jQuery(this).removeClass('valid');
							    jQuery(this).parent().find('.error').show();
							    jQuery(this).parent().find('.error').text("Must match the previous entry");
						}

	    			}

	    		}
				
			});
        });
</script>