<style>
	.page-header{
		display:none;
	}
	.notices-wrapper{ 
		display:none;
	}
	#anchor-content{
		padding:0px;
	}
	.page-footer{
		/*display:none;*/
	}
	.main-col{
	    width:100% !important;
	}
</style>

<div class="" onclick="reset()" >

	<div id="loading-indicator" class="hide">
		<!--<img class="loading-image"  src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/loading.gif'); ?>" />-->
		<div class="loader"></div>
	</div>

	<?php include_once('header.phtml'); ?>
	
	<div class="clearfix"></div>
		
	<div id="review" class="" >
		
		<div class="col-xs-4 review_left pull-left" >
			
			<div class="review_left_header" >
			
				<div class="btn_div center-block">		
					<div class="cart cart_active" onclick="view_hide_div('message','review')" >MESSAGES</div>
					<div class="offers active offer_active">REVIEW</div>
					<div class="clearfix"></div>	
				</div>
				
				<div class="clearfix"></div>
				
				<div class="search_bar col-xs-12">
					<div class="search-global-field _active center-block">
			            <label class="search-global-label" for="search-global"></label> 
			            <input type="hidden" name="query" value="">
				            <div class="mage-suggest">
				            	<div class="mage-suggest-inner">
					            	<input type="text" class="search-global-input" id="review_search" placeholder="Search" autocomplete="off">
					            	<div class="autocomplete-results" style="display: none;">
					            		
					            	</div>
				            	</div>
				            </div>
			            <button type="submit" class="search-global-action" title="Search"></button>
			        </div>
		        </div>
		        
		        <div class="clearfix"></div>
		        		        
				<div onclick="(function(e) { e.stopPropagation(); })(event);" class="page-actions data-grid-filters-action-wrap" data-ui-id="page-actions-toolbar-content-header">					
					
					<div id="" class="actions-split">
					
					    <button class="text-center action-default review_filter">
					        <!--<i class="fa fa-filter" aria-hidden="true"></i>--><img alt="#" class="filter_img" src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/review_filter_icon.png'); ?>" />&nbsp;&nbsp;Filters&nbsp;<img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/light_dropdown.png'); ?>" alt="#" />
					    </button>
					    
                		<ul class="dropdown-menu" data-ui-id="products-list-add-new-product-button-dropdown-menu">
                            
                            <li>                				
                    			<img alt="#" src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/star_check.png'); ?>" />
                    			<img alt="#" src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/star_check.png'); ?>" />
                    			<img alt="#" src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/star_check.png'); ?>" />
                    			<img alt="#" src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/star_check.png'); ?>" />
                    			<img alt="#" src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/star_check.png'); ?>" />
                            </li>
                            
                            <li>                				
                    			<img alt="#" src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/star_check.png'); ?>" />
                    			<img alt="#" src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/star_check.png'); ?>" />
                    			<img alt="#" src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/star_check.png'); ?>" />
                    			<img alt="#" src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/star_check.png'); ?>" />
                    			<img alt="#" src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/star_uncheck.png'); ?>" />
                    			
                    			&nbsp;&nbsp;&&nbsp;Up
                            </li>
                            
                            <li>                				
                    			<img alt="#" src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/star_check.png'); ?>" />
                    			<img alt="#" src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/star_check.png'); ?>" />
                    			<img alt="#" src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/star_check.png'); ?>" />
                    			<img alt="#" src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/star_uncheck.png'); ?>" />
                    			<img alt="#" src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/star_uncheck.png'); ?>" />
                    			
                    			&nbsp;&nbsp;&&nbsp;Up
                            </li>
                            
                            <li>                				
                    			<img alt="#" src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/star_check.png'); ?>" />
                    			<img alt="#" src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/star_check.png'); ?>" />
                    			<img alt="#" src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/star_uncheck.png'); ?>" />
                    			<img alt="#" src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/star_uncheck.png'); ?>" />
                    			<img alt="#" src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/star_uncheck.png'); ?>" />
                    			
                    			&nbsp;&nbsp;&&nbsp;Up
                            </li>
                            
                            <li>                				
                    			<img alt="#" src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/star_check.png'); ?>" />
                    			<img alt="#" src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/star_uncheck.png'); ?>" />
                    			<img alt="#" src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/star_uncheck.png'); ?>" />
                    			<img alt="#" src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/star_uncheck.png'); ?>" />
                    			<img alt="#" src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/star_uncheck.png'); ?>" />
                    			
                    			&nbsp;&nbsp;&&nbsp;Up
                            </li>
                            
                        </ul>
                        
        			</div>
					
				</div>
				
				<div class="clearfix"></div>	        
			</div>
			
			<div class="clearfix"></div>
			
			<?php //for($i=1; $i<=5; $i++) { ?>
				<div class="review_list background-f7f7f7 review_list<?php echo 1 //$i; ?> <?php //echo ($i == 1)?'background-f7f7f7':''; ?>" onclick="show_review_div(jQuery(this),<?php echo 1; //echo $i; ?>)" >
					<div class="profile_img">
						<img alt="#" src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/admin_profile_large4.png'); ?>" />
					</div>
					
					<div class="name_block">
					
						<div class="name">Emma Jackson</div>
						<div class="star">
							<img alt="#" src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/star_check.png'); ?>" />
							<img alt="#" src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/star_check.png'); ?>" />
							<img alt="#" src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/star_check.png'); ?>" />
							<img alt="#" src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/star_check.png'); ?>" />
							<img alt="#" src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/star_uncheck.png'); ?>" />
						</div>
						<div class="datetime">February 2, at 12:14</div>
						
					</div>
					
					<div class="product_img">
						<img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/prod_img1.png'); ?>" />
					</div>
					
					<div class="clearfix"></div>
								
				</div>
				
				<div class="review_list review_list<?php echo 2 //$i; ?> <?php //echo ($i == 1)?'background-f7f7f7':''; ?>" onclick="show_review_div(jQuery(this),<?php echo 2 //echo $i; ?>)" >
					<div class="profile_img">
						<img alt="#" src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/admin_profile_large1.jpeg'); ?>" />
					</div>
					
					<div class="name_block">
					
						<div class="name">Thomas King</div>
						<div class="star">
							<img alt="#" src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/star_check.png'); ?>" />
							<img alt="#" src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/star_check.png'); ?>" />
							<img alt="#" src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/star_check.png'); ?>" />
							<img alt="#" src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/star_check.png'); ?>" />
							<img alt="#" src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/star_uncheck.png'); ?>" />
						</div>
						<div class="datetime">January 24, at 16:48</div>
						
					</div>
					
					<div class="product_img">
						<img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/prod_img2.png'); ?>" />
					</div>
					
					<div class="clearfix"></div>
								
				</div>
				
				<div class="review_list review_list<?php echo 3 //$i; ?> <?php //echo ($i == 1)?'background-f7f7f7':''; ?>" onclick="show_review_div(jQuery(this),<?php echo 3 //echo $i; ?>)" >
					<div class="profile_img">
						<img alt="#" src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/admin_profile_large2.png'); ?>" />
					</div>
					
					<div class="name_block">
					
						<div class="name">Evan Duncan</div>
						<div class="star">
							<img alt="#" src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/star_check.png'); ?>" />
							<img alt="#" src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/star_check.png'); ?>" />
							<img alt="#" src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/star_check.png'); ?>" />
							<img alt="#" src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/star_check.png'); ?>" />
							<img alt="#" src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/star_uncheck.png'); ?>" />
						</div>
						<div class="datetime">January 24, at 16:48</div>
						
					</div>
					
					<div class="product_img">
						<img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/prod_img3.png'); ?>" />
					</div>
					
				</div>
				
				<div class="review_list review_list<?php echo 4 //$i; ?> <?php //echo ($i == 1)?'background-f7f7f7':''; ?>" onclick="show_review_div(jQuery(this),<?php echo 4 //$i; ?>)" >
					<div class="profile_img">
						<img alt="#" src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/admin_profile_large3.jpg'); ?>" />
					</div>
					
					<div class="name_block">
					
						<div class="name">Oliver Dixon</div>
						<div class="star">
							<img alt="#" src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/star_check.png'); ?>" />
							<img alt="#" src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/star_check.png'); ?>" />
							<img alt="#" src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/star_check.png'); ?>" />
							<img alt="#" src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/star_check.png'); ?>" />
							<img alt="#" src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/star_uncheck.png'); ?>" />
						</div>
						<div class="datetime">January 24, at 16:48</div>
						
					</div>
					
					<div class="product_img">
						<img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/prod_img1.png'); ?>" />
					</div>				
				</div>
			<?php //} ?>
			
		</div>
		
		<div class="col-xs-8 review_right pull-right">
			<div class="dispute_review">
				Dispute Review
			</div>
			
			<div class="clearfix"></div>
			
			<?php for($i=1; $i<= 5; $i++) { ?>
			
			<div class="review_chat_details review_chat_details<?php echo $i; ?> <?php echo ($i != 1)?'hide':''; ?> ">
			
				<div class="product_details">
				
					<div class="details_block">
						<div class="name">
							
							<span class="prod_name">Samsung Galaxy Note5 32GB</span> 
							
							<span class="star"><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/star_check.png'); ?>" />
								<img alt="#" src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/star_check.png'); ?>" />
								<img alt="#" src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/star_check.png'); ?>" />
								<img alt="#" src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/star_check.png'); ?>" />
								<img alt="#" src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/star_uncheck.png'); ?>" />
							</span>
							
							<div class="clearfix"></div>
							
							<span class="name">Emma jackson</span>
							<div class="clearfix"></div>
							
							<span class="view_invoice">View Invoice</span>
							
						</div>
						<div>
							
						</div>
					</div>
				
					<div class="product_image">
						<img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/prod_img1.png'); ?>" />
					</div>
				</div>
			
				<div class="clearfix"></div>
				
				<div class="review_details">
					
					<div class="profile pull-left">
						<img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/admin_profile_large4.png'); ?>" />
					</div>
					
					<div class="review_messages pull-right">
						This is my first time to own a Samsung branded mobile and  i can say that it is one hell of a smartphone. Camera is superb and manual mode is a good option to have. i just love it in every way. And the lack of SD card slot don't bother me at all.					
						<div class="datetime">February 2, at 12:10</div>
						
					</div>
					
					<div class="clearfix"></div>
					
				</div>
			
			</div>
			
			<?php } ?>
			
			<div class="write_text_area">
				<div class="profile_img">
					<img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/admin_profile_large4.png'); ?>" />
				</div>
				
				<!--<input type="text" class="review_text_message" placeholder="Enter message" />-->
				
				<textarea class="review_text_message" placeholder="Enter message"></textarea>
				
				<div class="img_div">
					<img class="gif_icon" src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/review_gif_icon.png'); ?>" />
					
					<img class="smilly_icon" src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/smily_icon.png'); ?>" />
					
					<img class="review_attach" src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/review_attach.png'); ?>" />
				</div>
			</div>
			
		</div>
		
		<div class="clearfix"></div>
		
	</div>
	
	<div id="message" class="hide">
		
		<div class="col-xs-4 review_left pull-left" >
			
			<div class="review_left_header" >
			
				<div class="btn_div center-block">		
					<div class="cart active cart_active">MESSAGES</div>
					<div class="offers offer_active" onclick="view_hide_div('review','message')" >REVIEW</div>
					<div class="clearfix"></div>	
				</div>
				
				<div class="clearfix"></div>
				
				<div class="search_bar col-xs-12">
					<div class="search-global-field _active center-block">
			            <label class="search-global-label" for="search-global"></label> 
			            <input type="hidden" name="query" value="">
				            <div class="mage-suggest">
				            	<div class="mage-suggest-inner">
					            	<input type="text" class="search-global-input" id="review_search" placeholder="Search" autocomplete="off">
					            	<div class="autocomplete-results" style="display: none;">
					            		
					            	</div>
				            	</div>
				            </div>
			            <button type="submit" class="search-global-action" title="Search"></button>
			        </div>
		        </div>
		        
		        <div class="clearfix"></div>		        
		        
				<div class="page-actions data-grid-filters-action-wrap" data-ui-id="page-actions-toolbar-content-header">											
					
					<div class="actions-split">
					
					    <button onclick="" style="visibility:hidden" class="text-center action-default">
					        Filters&nbsp;<i class="fa fa-chevron-down" aria-hidden="true"></i>
					    </button>
					    
        			</div>
					
				</div>
				
				<div class="clearfix"></div>	        
			</div>
			
			<div class="clearfix"></div>
			
			<?php //for($i=1; $i<=5; $i++) { ?>
				<div class="message_list background-f7f7f7 message_list<?php echo 1//$i; ?> <?php //echo ($i == 1)?'background-f7f7f7':''; ?>" onclick="show_message_div(jQuery(this),<?php echo 1 //$i; ?>)" >
									
					<div class="profile_img">
						<img alt="#" src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/admin_profile_large4.png'); ?>" />
					</div>
					
					<div class="name_block">
					
						<div class="name">Emma Jackson</div>
						<div class="star">
							Very Good..
						</div>
						<div class="datetime">February 2, at 12:14</div>
						
					</div>
					
					<div class="product_img">
						<img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/prod_img1.png'); ?>" />
						<span class="badge">5</span>
					</div>
					
					<div class=" clearfix"></div>
								
				</div>
				
				
				<div class="message_list message_list<?php echo 2//$i; ?> <?php //echo ($i == 1)?'background-f7f7f7':''; ?>" onclick="show_message_div(jQuery(this),<?php echo 2 //$i; ?>)" >
									
					<div class="profile_img">
						<img alt="#" src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/admin_profile_large1.jpeg'); ?>" />
					</div>
					
					<div class="name_block">
					
						<div class="name">Thomas King</div>
						<div class="star">
							Bye))))
						</div>
						<div class="datetime">January 24, at 16:48</div>
						
					</div>
					
					<div class="product_img">
						<img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/prod_img2.png'); ?>" />
						<span class="badge">2</span>
					</div>
					
					<div class=" clearfix"></div>
								
				</div>
				
				
				
				<div class="message_list message_list<?php echo 3//$i; ?> <?php //echo ($i == 1)?'background-f7f7f7':''; ?>" onclick="show_message_div(jQuery(this),<?php echo 3 //$i; ?>)" >
									
					<div class="profile_img">
						<img alt="#" src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/admin_profile_large2.png'); ?>" />
					</div>
					
					<div class="name_block">
					
						<div class="name">Evan Duncan</div>
						<div class="star">
							Bye))))
						</div>
						<div class="datetime">January 24, at 16:48</div>
						
					</div>
					
					<div class="product_img">
						<img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/prod_img3.png'); ?>" />
						<span class="badge">3</span>
					</div>
					
					<div class=" clearfix"></div>
								
				</div>
				
				
				
				<div class="message_list message_list<?php echo 4//$i; ?> <?php //echo ($i == 1)?'background-f7f7f7':''; ?>" onclick="show_message_div(jQuery(this),<?php echo 4 //$i; ?>)" >
									
					<div class="profile_img">
						<img alt="#" src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/admin_profile_large3.jpg'); ?>" />
					</div>
					
					<div class="name_block">
					
						<div class="name">Oliver Dixon</div>
						<div class="star">
							Bye))))
						</div>
						<div class="datetime">January 24, at 16:48</div>
						
					</div>
					
					<div class="product_img">
						<img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/prod_img1.png'); ?>" />
						<span class="badge">4</span>
					</div>
					
					<div class=" clearfix"></div>
							
				</div>
				
				
			<?php //} ?>
			
		</div>
		
		<div class="col-xs-8 review_right pull-right">
			
			<div class="clearfix"></div>
			
			<?php for($i=1; $i<= 5; $i++) { ?>
			
			<div class="message_chat_details message_chat_details<?php echo $i; ?> <?php echo ($i != 1)?'hide':''; ?> ">
			
				<div class="product_details">
				
					<div class="details_block">
						<div class="name">
							
							<span class="prod_name">Samsung Galaxy Note5 32GB</span> 
							
							<div class="clearfix"></div>
							
							<span class="name">Emma jackson</span>
							<div class="clearfix"></div>
							
							<span class="view_invoice">View Invoice</span>
							
						</div>
						<div>
							
						</div>
					</div>
				
					<div class="product_image">
						<img alt="#" src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/prod_img1.png'); ?>" />
					</div>
				</div>
			
				<div class="clearfix"></div>
				
				<div class="msg_details">
					
					 <div class="user_review">
						<div class="profile_img">
							<img alt="#" src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/admin_profile_large4.png'); ?>" />
						</div>
						
						<div class="text-message">
							Hi!
						</div>
						
					</div>
					
					<div class="clearfix"></div>
					
					<div class="admin_review">
											
						<div class="profile_img">
							<img alt="#" src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/admin_profile_large.jpg'); ?>" />
						</div>
						
						<div class="text-message">
							Hello
							What can i do for you?
						</div>
						
					</div>
					
					<div class="clearfix"></div>
					
					<div class="user_review">
						<div class="profile_img">
							<img alt="#" src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/admin_profile_large4.png'); ?>" />
						</div>
						
						<div class="text-message">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</div>
						
					</div>
					
					<div class="clearfix"></div>
					
					<div class="admin_review">
											
						<div class="profile_img">
							<img alt="#" src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/admin_profile_large.jpg'); ?>" />
						</div>
						
						<div class="text-message">
							Hi!
						</div>
						
					</div>
					
					<div class="clearfix"></div>
					
				</div>
			
			</div>
			
			<?php } ?>
			
			<div class="write_text_area">
				<div class="profile_img">
					<img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/admin_profile_large4.png'); ?>" />
				</div>
				
				<textarea class="review_text_message" placeholder="Enter message"></textarea>
				
				<div class="img_div">
					<img class="gif_icon" src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/review_gif_icon.png'); ?>" />
					
					<img class="smilly_icon" src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/smily_icon.png'); ?>" />
					
					<img class="review_attach" src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/review_attach.png'); ?>" />
				</div>
				
			</div>
			
		</div>
		
		<div class="clearfix"></div>
		
	</div>
	
</div>

<script>

	require(['jquery'],function($) {
	
		jQuery(document).ready(function() {
									
			profile_dropdown=function(index_no){
				jQuery('.open_default_action_nav').removeClass('_active');	
				jQuery('.open_default_view_nav').removeClass('_active');
				jQuery('.open_filter_nav').removeClass('_show');
				jQuery('.open_columns_nav').removeClass('_active');
				
				jQuery('.icon_text .action-select-wrap .action-menu').toggleClass('_active');
			}
			
			view_hide_div = function(show_div,hide_div){
				jQuery('#'+show_div).removeClass('hide');
				jQuery('#'+hide_div).addClass('hide');
			}
			
			reset=function(){		 	
				//profile
				jQuery('.icon_text .action-select-wrap .action-menu').removeClass('_active');
				jQuery('.actions-split').removeClass('active');							
			}
			
			jQuery('.action-default').click(function(){
				jQuery('.actions-split').toggleClass('active');
			});
			
			show_message_div = function(thiss,index_no){
				
				jQuery('.message_list').removeClass('background-f7f7f7');
				jQuery('.message_list'+index_no).addClass('background-f7f7f7');
				
				jQuery('.message_chat_details').addClass('hide');
				jQuery('.message_chat_details'+index_no).removeClass('hide');
				
			}
			
			show_review_div = function(thiss,index_no){
				jQuery('.review_list').removeClass('background-f7f7f7');
				jQuery('.review_list'+index_no).addClass('background-f7f7f7');
				
				jQuery('.review_chat_details').addClass('hide');
				jQuery('.review_chat_details'+index_no).removeClass('hide');
			}
			
		});
		
	});

	
</script>