<div class="advanced_model">
        <div class="text">
            <i>Advanced Model</i>
        </div>
    </div>

    <div id="form41">

        <h2>Banking Information</h2>
        
        <div class="input_field_div">
            <label for="routing_number" class="label_names" >Routing Number</label>
            <input type="text" name="routing_number" class="" autocomplete="off" id="routing_number" />
            <label class="img_div"><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/checked.png'); ?>"  class="valid_img" /><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/unchecked.png'); ?>" class="error_img" /></label>
            <label class="error"></label>
            <div class="clearfix"></div>
        </div>
        
        <div class="clearfix"></div>
        
        <div class="input_field_div">
            <label for="account_number" class="label_names" >Account Number</label>
            <input type="text" name="account_number" class="" autocomplete="off" id="account_number" />
            <label class="img_div"><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/checked.png'); ?>"  class="valid_img" /><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/unchecked.png'); ?>" class="error_img" /></label>
            <label class="error"></label>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>

    </div>

    <div class="hr"></div>

    <div id="form42">

        <h2>Credit Card Information</h2>

        <div class="input_field_div">
            <label for="noc" class="label_names" >Name On Card</label>
            <input type="text" name="name_on_card" class="" autocomplete="off" id="name_on_card" />
            <label class="img_div"><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/checked.png'); ?>"  class="valid_img" /><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/unchecked.png'); ?>" class="error_img" /></label>
            <label class="error"></label>
            <div class="clearfix"></div>
        </div>
        
        <div class="clearfix"></div>
        
        <div class="input_field_div">
            <label for="card_number" class="label_names" >Card Number</label>
            <input type="text" name="card_number" class="" autocomplete="off" id="card_number" />
            <label class="img_div"><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/checked.png'); ?>"  class="valid_img" /><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/unchecked.png'); ?>" class="error_img" /></label>
            <label class="error"></label>
            <div class="clearfix"></div>
        </div>
        
        <div class="clearfix"></div>
        
        <div class="input_field_div">
            <div class="width-30 left">
                <div class="cvv input_field_div">
                    <label for="card_number" class="label_names" >CVV</label>
                    <input type="text" name="cvv" class="" autocomplete="off" id="cvv" maxlength="3" />
                    <label class="img_div"><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/checked.png'); ?>"  class="valid_img" /><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/unchecked.png'); ?>" class="error_img" /></label>
                    <label class="error"></label>
                    <div class="clearfix"></div>
                </div>
            </div>
            
            <div class="width-65 right">
            
                <div class="width-45 left">
                    <div class="input_field_div">
                        <label for="card_number" class="label_names" >Expiration Date</label>
                        <input id="expiration_date_month" class=" input-text" autocomplete="off" type="text" name="expiration_date_month" placeholder="MM" maxlength="2" >
                        <label class="img_div"><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/checked.png'); ?>"  class="valid_img" /><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/unchecked.png'); ?>" class="error_img" /></label>
                        <label class="error"></label>
                        <div class="clearfix"></div>
                    </div>
                </div>
                
                <div class="width-45 right">
                    <div class="input_field_div">
                        <label for="expiration_date_year" class="label_names" >Expiration Year</label>
                        <input id="expiration_date_year" class=" input-text" type="text" autocomplete="off" name="expiration_date_year" placeholder="YYYY" maxlength="4" >
                        <label class="img_div"><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/checked.png'); ?>"  class="valid_img" /><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/unchecked.png'); ?>" class="error_img" /></label>
                        <label class="error"></label>
                        <div class="clearfix"></div>
                    </div>
                </div>
                
                <div class="clearfix"></div>
                
            </div>
            <div class="clearfix"></div>
            
        </div>
        
        <div class="clearfix"></div>
        
        <input type="button" class="submit disable_btn submit4 scalable add" id="submit4" name="submit4" value="Complete Registration">

    </div>