<div id="form31">
    <h2 class="padding-bottom-20">Feature Selection</h2>

    <div class="image_div_inline">
        <div class="image_div"">
            <label class="normal_iamge"></label> 
        </div>
    </div>

    <div class="image_div"">
    <input type="radio" class="radio1 radio valid" name="financial" value="1" id="radio1" checked/>
    <label for="radio1" class="checkbox_radio1"></label> 
    </div>

    <div class="image_div"">
    <input type="radio" class="radio2 radio valid" name="financial" value="2" id="radio2" />
    <label for="radio2" class="checkbox_radio2"></label> 
    </div>

    <div class="image_div"">
    <input type="radio" class="radio3 radio valid" name="financial" value="3" id="radio3" />
    <label for="radio3" class="checkbox_radio3"></label> 
    </div>
    <div class="clearfix"></div>
    <input type="button" class="submit submit3 scalable add" name="submit3" value="Financial Information">

</div>