<div id="form21">
    <h2>Business Information</h2>
    
    <div class="input_field_div">
        <label for="fn" class="label_names" >Entity Name</label>
        <input type="text" name="entity_name" class="" id="entity_name" autocomplete="off" value="<?php if($retailar_id === NULL) { echo $entity_name ; } ?>" />
        <label class="img_div"><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/checked.png'); ?>"  class="valid_img" /><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/unchecked.png'); ?>" class="error_img" /></label>
        <label class="error"></label>
        <div class="clearfix"></div> 
    </div>
    
    <div class="clearfix"></div>
    
    <div class="input_field_div">
        <label for="ln" class="label_names" >Trade Name (DBA)</label>
        <input type="text" name="trade_name" class="" id="trade_name" autocomplete="off" value="<?php if($retailar_id === NULL) { echo $trade_name; } ?>" />
        <label class="img_div"><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/checked.png'); ?>"  class="valid_img" /><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/unchecked.png'); ?>" class="error_img" /></label>
        <label class="error"></label>
        <div class="clearfix"></div>
    </div>
    
    <div class="clearfix"></div>
    
    <div class="input_field_div">
        <label for="email" class="label_names" >EIN Number</label>
        <input type="text" name="ein_number" class="" id="ein_number" autocomplete="off" value="<?php if($retailar_id === NULL) { echo $ein_number; } ?>" />
        <label class="img_div"><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/checked.png'); ?>"  class="valid_img" /><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/unchecked.png'); ?>" class="error_img" /></label>
        <label class="error"></label>
        <div class="clearfix"></div>
    </div>

    <div class="clearfix"></div>

    <div class="input_field_div">
        <div class="width-45 left">
            <label for="bp" class="bp label_names">Business phone</label>
            <input type="text" name="business_phone" class="bp " autocomplete="off" id="business_phone" value="<?php if($retailar_id === NULL) { echo $business_phone; } ?>" />
            <label class="img_div"><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/checked.png'); ?>"  class="valid_img" /><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/unchecked.png'); ?>" class="error_img" /></label>
            <label class="error"></label>
            <div class="clearfix"></div>
        </div>

        <div class="width-45 right">
            <label for="ap" class="ap label_names">Admin phone</label>
            <input type="text" name="adminPhone" class="ap" autocomplete="off" id="adminPhone" value="<?php if($retailar_id === NULL) { echo $adminPhone; } ?>" />
            <label class="img_div"><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/checked.png'); ?>"  class="valid_img" /><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/unchecked.png'); ?>" class="error_img" /></label>
            <label class="error"></label>
            <div class="clearfix"></div>
        </div>
        
        <div class="clearfix"></div>
        
    </div>
    
    <div class="clearfix"></div>
    
</div>

<div class="hr"></div>

<div id="form22">
    <h2>Registered Address</h2>
    
    <div class="input_field_div">
        <div class="width-45 left">
            <label for="r_street_address"  class="label_names" >Street Address</label>
            <input type="text" name="address_line_1" class="" id="address_line_1" autocomplete="off" value="<?php if($retailar_id === NULL) { echo $address_line_1; } ?>" />
            <label class="img_div"><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/checked.png'); ?>"  class="valid_img" /><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/unchecked.png'); ?>" class="error_img" /></label>
            <label class="error"></label>
            <div class="clearfix"></div>
        </div>

        <div class="width-45 right">
            <label for="r_unit"  class="label_names" >Apt, Suite, Unit, etc</label>
            <input type="text" name="address_line_2" class="" id="address_line_2" autocomplete="off" value="<?php if($retailar_id === NULL) { echo $address_line_2; } ?>" />
            <label class="img_div"><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/checked.png'); ?>"  class="valid_img" /><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/unchecked.png'); ?>" class="error_img" /></label>
            <label class="error"></label>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="clearfix"></div>

    <div class="input_field_div">
    
        <div class="width-45 left">
            <label for="r_city"  class="label_names" >City</label>
            <input type="text" name="city" class="" id="city" autocomplete="off" value="<?php if($retailar_id === NULL) { echo $city; } ?>" />
            <label class="img_div"><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/checked.png'); ?>"  class="valid_img" /><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/unchecked.png'); ?>" class="error_img" /></label>
            <label class="error"></label>
            <div class="clearfix"></div>
        </div>

        <div class="width-45 right">

            <div class="width-45 left">
                <label for="r_state"  class="label_names" >State</label>
                <select style="max-width: 100%;" name="state" id="state">
                <option value="string">Select</option>

                <?php
                foreach($state_list as $key => $value) {
                ?>
                    <option value="<?php echo $key; ?>"><?php echo $value; ?></option>
                <?php 
                }
                ?>
                </select>
            </div>

            <div class="width-45" style="margin-left:10px;">
                <label for="r_zip" class="zip label_names">ZIP</label>
                <input type="text" name="zip" class="" autocomplete="off" id="zip" value="<?php if($retailar_id === NULL) { echo $zip ; } ?>" />
                <label class="img_div"><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/checked.png'); ?>"  class="valid_img" /><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/unchecked.png'); ?>" class="error_img" /></label>
                <label class="error"></label>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        
        <div class="clearfix"></div>
        
    </div>
    
</div>

<div class="hr"></div>

<div id="form23">
    <h2>Product Origin Address</h2>

    <div class="input_field_div">
        <div class="width-45 left">
            <label for="pr_street_address"  class="label_names" >Street Address</label>
            <input type="text" name="product_origin_address_line_1" autocomplete="off" class="" id="product_origin_address_line_1" value="<?php if($retailar_id === NULL) { echo $product_origin_address_line_1 ; } ?>" />
            <label class="img_div"><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/checked.png'); ?>"  class="valid_img" /><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/unchecked.png'); ?>" class="error_img" /></label>
            <label class="error"></label>
            <div class="clearfix"></div>
        </div>
        
        <div class="width-45 right">
            <label for="pr_unit"  class="label_names" >Apt, Suite, Unit, etc</label>
            <input type="text" name="product_origin_address_line_2" autocomplete="off" class="" id="product_origin_address_line_2" value="<?php if($retailar_id === NULL) { echo $product_origin_address_line_2; } ?>" />
            <label class="img_div"><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/checked.png'); ?>"  class="valid_img" /><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/unchecked.png'); ?>" class="error_img" /></label>
            <label class="error"></label>
            <div class="clearfix"></div>
        </div>
        
        <div class="clearfix"></div>
    </div>

    <div class="clearfix"></div>

    <div class="input_field_div">
        <div class="width-45 left">
            <label for="pr_city"  class="label_names" >City</label>
            <input type="text" name="product_origin_city" class="" autocomplete="off" id="product_origin_city" value="<?php if($retailar_id === NULL) { echo $product_origin_city ; } ?>" />
            <label class="img_div"><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/checked.png'); ?>"  class="valid_img" /><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/unchecked.png'); ?>" class="error_img" /></label>
            <label class="error"></label>
            <div class="clearfix"></div>
        </div>


        <div class="width-45 right">

            <div class="width-45 left">
                <label for="pr_state"  class="label_names" >State</label>
                <select style="max-width: 100%;" name="product_origin_state" id="product_origin_state">
                <option value="string">Select</option>
                <?php
                foreach($state_list as $key => $value) {
                ?>
                    <option value="<?php echo $key; ?>"><?php echo $value; ?></option>
                <?php 
                }
                ?>
                </select>
            </div>

            <div class="width-45" style="margin-left:10px;">
                <label for="pr_zip"  class="label_names" >ZIP</label>
                <input type="text" name="product_origin_zip" autocomplete="off" class="" id="product_origin_zip" value="<?php if($retailar_id === NULL) { echo $product_origin_zip ; } ?>" />
                <label class="img_div"><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/checked.png'); ?>"  class="valid_img" /><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/unchecked.png'); ?>" class="error_img" /></label>
                <label class="error"></label>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
    
    <div class="clearfix"></div>
    
    <input type="button" class="submit disable_btn submit2 scalable add" name="submit2" value="Subscription Model">
    
</div>