<h2>Create Account</h2>

<div class="input_field_div">
    <label for="fn" class="label_names" >First Name</label>
    <input type="text" name="firstname" class="creatform" id="firstname" value="<?php if($retailar_id === NULL) { echo $firstname; } ?>" autocomplete="off"/>
    <label class="img_div"><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/checked.png'); ?>"  class="valid_img" /><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/unchecked.png'); ?>" class="error_img" /></label>
    <label class="error"></label>
    <div class="clearfix"></div>
</div>

<div class="clearfix"></div>

<div class="input_field_div">
    <label for="ln" class="label_names" >Last Name</label>
    <input type="text" name="lastname" class="creatform" id="lastname" value="<?php if($retailar_id === NULL) { echo $lastname; } ?>" autocomplete="off"/>
    <label class="img_div"><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/checked.png'); ?>"  class="valid_img" /><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/unchecked.png'); ?>" class="error_img" /></label>
    <label class="error"></label>
    <div class="clearfix"></div>
</div>

<div class="clearfix"></div>

<div class="input_field_div">
    <label for="email" class="label_names" >Email</label>
    <input type="text" name="email" class="creatform" id="email" value="<?php if($retailar_id === NULL) { echo $email ; } ?>" autocomplete="off"/>
    <label class="img_div"><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/checked.png'); ?>"  class="valid_img" /><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/unchecked.png'); ?>" class="error_img" /></label>
    <label class="error"></label>
    <div class="clearfix"></div>
</div>

<div class="clearfix"></div>

<div class="input_field_div">
    <label for="password" class="label_names" >Password<span class="password_notify">at least 6 characters</span></label>
    <input type="password" name="password" class="creatform" id="password" autocomplete="off"/>
    <label class="img_div"><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/checked.png'); ?>"  class="valid_img" /><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/unchecked.png'); ?>" class="error_img" /></label>
    <label class="error"></label>
    <div class="clearfix"></div>
</div>

<div class="clearfix"></div>

<div class="input_field_div clear">
    <label for="cp" class="label_names" >Confirm Password</label>
    <input type="password" name="confirmpassword" class="creatform" id="confirmpassword" autocomplete="off"/>
    <label class="img_div"><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/checked.png'); ?>"  class="valid_img" /><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/unchecked.png'); ?>" class="error_img" /></label>
    <label class="error"></label>
    <div class="clearfix"></div>
</div>

<div class="clearfix"></div>

<div class="input_field_div clear" style="height:auto;min-height:30px; padding-top:6px;">
    <div class="checkbox">          
    <input type="checkbox" name="terms_condition" id="terms_condition" class="creatform" autocomplete="off"/><span style="color:#bababa" class="term_condition">I agree to  <b>Terms and Conditions</b></span>
    
    </div>
        

    <div class="term_condition_details" style="display: none;">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </div>
    <label class="error"></label>
</div>

<div class="clearfix"></div>

<input type="button" class="disable_btn submit submit1 scalable add" name="submit1" value="Business Information">