<link href="<?php echo $this->getViewFileUrl("Buyr_MarketPlace::css/signup.css"); ?>" rel="stylesheet" type="text/css" />
<script src="<?php echo $this->getViewFileUrl("Buyr_MarketPlace::js/signup.js"); ?>"></script>

<?php 
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
$connection = $resource->getConnection();
$tableName = $resource->getTableName('buyr_seller_info');
$select_retailar_info = "select * from buyr_seller_info";
$result_retailar_info = $connection->fetchAll($select_retailar_info);
$retailar_id = 0;

foreach($result_retailar_info as $result_retailar_info_new)
{
	$retailar_id = $result_retailar_info_new["buyr_retailer_id"];
	$email = $result_retailar_info_new["email"];
	$firstname = $result_retailar_info_new["firstname"];
	$lastname = $result_retailar_info_new["lastname"];
	$entity_name = $result_retailar_info_new["entity_name"];
	$trade_name = $result_retailar_info_new["trade_name"];
	$ein_number = $result_retailar_info_new["ein_number"];
	$business_phone = $result_retailar_info_new["business_phone"];
	$adminPhone = $result_retailar_info_new["adminPhone"];
	$address_line_1 = $result_retailar_info_new["address_line_1"];
	$address_line_2 = $result_retailar_info_new["address_line_2"];
	$city = $result_retailar_info_new["city"];
	$state = $result_retailar_info_new["state"];
	$zip = $result_retailar_info_new["zip"];
	$product_origin_address_line_1 = $result_retailar_info_new["product_origin_address_line_1"];
	$product_origin_address_line_2 = $result_retailar_info_new["product_origin_address_line_2"];
	$product_origin_city = $result_retailar_info_new["product_origin_city"];
	$product_origin_state = $result_retailar_info_new["product_origin_state"];
	$product_origin_zip = $result_retailar_info_new["product_origin_zip"];
}


$statetablename = $resource->getTableName('directory_country_region');
$select_state_query = "select * from directory_country_region where country_id='US'";
$select_state = $connection->fetchAll($select_state_query); 
$state_list = array();
foreach($select_state as $select_state_new)
{
    $state_list[$select_state_new['code']] = $select_state_new['default_name'];
}

$params = $block->getRequest()->getParams();
if(count($result_retailar_info) == 0 || $retailar_id === NULL)
{
?>
<?php if(array_key_exists('status',$params)){ if($params['status'] == 5) { echo "<h4><li class='message message-warning error'>User already exist please try with another mail id</li></h4>"; } } ?>
<div id="template">		
			<header>
						<div id="logo">
							<span><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/magento_logo.png'); ?>" /></span>
						</div>
						<?php if(array_key_exists('status',$params)) { ?>
						<?php if($status = $params['status'] == 0) { ?><div class="error-head" style="color:red"><?php echo "<p>Your registration has failed!</p>"; ?></div><?php } ?>
						<?php } ?>
						<nav>
							<ul>
								<li>
								
									<div class="numbers_count first active" >
										1
									</div>
									<div class="numbers_count first2" onclick="move_to_first();" style="display: none;">
										1
									</div>
									<span>Account Information</span>
								</li>
								<li>
									<div class="numbers_count second" >
										2
									</div>
									<div class="numbers_count second2" onclick="move_to_second();" style="display: none;">
										2
									</div>
									<span>Business Information</span>
								</li>
								<li>
									<div class="numbers_count third" >
										3
									</div>
									<div class="numbers_count third2" onclick="move_to_third();" style="display: none;">
										3
									</div>
									<span>Subscription Model</span>
								</li>
								<li>
									<div class="numbers_count fourth" >
										4	
									</div>
									<div class="numbers_count fourth2" onclick="move_to_fourth();" style="display: none;">
										4	
									</div>
									<span>Financial Information</span>
								</li>
							</ul>
						</nav>
			</header>
			<div id="form">
					<form id="signupForm" name="signupForm" class="" action="<?php echo $block->getUrl('buyr/register/submit'); ?>" method="post" enctype="multipart/form-data">
						<input name="form_key" type="hidden" value="<?php echo $block->getFormKey(); ?>" />
						<input type="hidden" name="page_no" id="page_no" value="1" class="page_no" >

						<input type="hidden" value="0" name="isAllow1" class="isAllow1" />
						<input type="hidden" value="0" name="isAllow2" class="isAllow2" />
						<input type="hidden" value="0" name="isAllow3" class="isAllow3" />
						<input type="hidden" value="0" name="isAllow4" class="isAllow4" />

						<div id="form1" class="form" >
							<div id="form11">
								<?php include_once('signup_account.phtml'); ?>
							</div>
							<div class="hr"></div>
							<div id="signInText">	
								Already have an account? <b><a href="<?php echo $block->getUrl('buyr/signin/index'); ?>">Sign In</a></b>
							</div>
						</div>
						
						<div id="form2" class="form hide" >
                            <?php include_once('signup_business.phtml'); ?>
						</div>

						<div id="form3" class="form hide" >
							<?php include_once('signup_subscription.phtml'); ?>
						</div>

						<div id="form4" class="form hide" >
                            <?php include_once('signup_banking.phtml'); ?>
						</div>
					</form>	
            </div>	
</div>
<?php } else { ?>
<div id="template">	
<div class="notices-wrapper">
	<ul class="message-system-list">
		<li>
			<?php 
				if(array_key_exists('status',$params))
				{
				if($params['status'] == 1) { echo "<h2><li class='message message-success error'>Registration has been successfull! Please wait for BuyR's approval</li></h2>"; }
				else if($params['status'] == 2) { echo "<h2><li class='message message-warning error'>Registration failed!</li></h2>"; }
				else if($params['status'] == 3) { echo "<h2><li class='message message-warning error'>Token generate failed!</li></h2>"; }
				else if($params['status'] == 4) { echo "<h2><li class='message message-warning error'>Patch profile failed!</li></h2>"; }
				}
				else { echo "<h2><li class='message message-success error'>Registration has been successfull! Please wait for BuyR's approval</li></h2>"; }
			}
			?>
		</li>
	</ul>
</div>
</div>
