<link href="<?php echo $this->getViewFileUrl("Buyr_MarketPlace::css/profile.css"); ?>" rel="stylesheet" type="text/css" />
<?php
$object = \Magento\Framework\App\ObjectManager::getInstance();
$session = $object->get('Magento\Customer\Model\Session');
if($session->getAuthenticationKey() != "")
{
    $url = $block->getUrl('buyr/profile/index');
    header('Location:'.$url );die(); 
}
?>

<div id="loading-indicator">
	<img class="loading-image"  src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/loading.gif'); ?>" />
</div>

<div id="template">
    <div class="notices-wrapper" style="display:none;">
		<ul class="message-system-list">
		   <h2><li class='message message-error error'></li></h2>
		</ul>
    </div>

	<header class="signIn_header">
		<div id="logo">
			<span><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/magento_logo.png'); ?>" /></span>
		</div>
	</header>

	<div id="form">
	
		<form id="signInForm" name="signInForm" method="post" enctype="multipart/form-data" autocomplete="off">
			
			<h2>Sign In</h2>
			
			<div class="input_field_div">
				<label for="email" class="label_names" >Email</label>
				<input type="text" name="email" class="creatform" id="email" autocomplete="off" />
				<label class="img_div"><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/checked.png'); ?>"  class="valid_img" /><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/unchecked.png'); ?>" class="error_img" /></label>
				<label class="error"></label>
				<div class="clearfix"></div>
			</div>
			
			<div class="clearfix"></div>

			<div class="input_field_div">
				<label for="password" class="label_names" >Password<span class="password_notify"><a href="<?php echo $block->getUrl('buyr/forgetpassword/index'); ?>">Forgot your Password?</a></span></label>
				<input type="password" name="password" class="creatform" id="password" autocomplete="off" />
				<label class="img_div"><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/checked.png'); ?>"  class="valid_img" /><img src="<?php echo $this->getViewFileUrl('Buyr_MarketPlace::css/images/unchecked.png'); ?>" class="error_img" /></label>
				<label class="error"></label>
				<div class="clearfix"></div>
			</div>
			
			<div class="clearfix"></div>
			
			<input type="button" class="" id="signin_btn" name="" value="Sign In">
			
			<div id="signInText">					
				Does not have an account? <b><a href="<?php echo $block->getUrl('buyr/register/index'); ?>">Sign Up</a></b>
			</div>
							
		</form>
	
	</div>

</div>

<?php include_once("signin_js.phtml"); ?>