@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?b5yjjp');
  src:  url('fonts/icomoon.eot?b5yjjp#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?b5yjjp') format('truetype'),
    url('fonts/icomoon.woff?b5yjjp') format('woff'),
    url('fonts/icomoon.svg?b5yjjp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-leaf:before {
  content: "\e9a4";
}
