.page-header{
		display:none;
}
.notices-wrapper{
    display:none;
}
.sortspan{position: absolute;z-index: 78; right: 0;}

#anchor-content{
    padding:0px;
}
.main-col{
    width:100% !important;
}
.error {
    border-color:red !important;   
}
.valid {
border: 1px solid #DADADA !important;
}
#prev_btn_form{
display:inline;
}
#next_btn_form{
display:inline;
}
.action-previous{
cursor:pointer;
}
.action-next{
cursor:pointer;
}