/* 
 * dragtable
 *
 * @Version 2.0.15
 *
 * default css
 *
 */
/*##### the dragtable stuff #####*/
/*.dragtable-sortable { 
    list-style-type: none; margin: 0; padding: 0; -moz-user-select: none;
}
.dragtable-sortable li {
    margin: 0; padding: 0; float: left; font-size: 1em; background: white; 
}

.dragtable-sortable th, .dragtable-sortable td{
    border-left: 0px;
}

.dragtable-sortable li:first-child th, .dragtable-sortable li:first-child td {
    border-left: 1px solid #CCC; 
}

.ui-sortable-helper {
    opacity: 0.7;filter: alpha(opacity=70);
}
.ui-sortable-placeholder { 
    -moz-box-shadow: 4px 5px 4px #C6C6C6 inset;
    -webkit-box-shadow: 4px 5px 4px #C6C6C6 inset;
    box-shadow: 4px 5px 4px #C6C6C6 inset;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    visibility: visible !important;
    background: #EFEFEF !important; 
    visibility: visible !important;
}
.ui-sortable-placeholder * { 
    opacity: 0.0; visibility: hidden; 
}

div.dragtable-sortable{
	text-align: left !important;
	width: 100%;
}
.dragtable-sortable .getcontent{
	height: 50px !important;
    overflow: hidden;
}

.dragtable-sortable .inner_content_table{
    overflow: hidden;
    display: none;

}
*/
/* 
 * dragtable
 *
 * @Version 1.0.3
 *
 * default css
 *
 */


.dragtable-drag-handle{
    cursor: move;
}

/*
 * gets wrapped around placeholder table
 */
  
.dragtable-drag-wrapper{
    position: absolute;
    z-index: 1000;
} 
 /*
  * this gets applied to the table copy of the col that we are dragging 
  */ 
.dragtable-drag-wrapper .dragtable-drag-col{
    opacity: 0.7;
    filter: alpha(opacity=70);
    cursor:move;
}

/*
    placeholder is just a name for the real table col
*/
.dragtable-col-placeholder { 
    border-left: 1px dotted black;
    border-right: 1px dotted black; 
    color:#EFEFEF;
    background: #EFEFEF !important; 
    visibility: visible !important;
}
table .dragtable-col-placeholder:first{
    border-top:1px dotted black;
}


.dragtable-col-placeholder * { 
    opacity: 0.0; 
    visibility: hidden; 
}
table{text-align: left !important;}