.page-header{
    display:none;
}
.notices-wrapper{
    display:none;
}
#anchor-content{
    padding:0px;
}
.main-col{
    width:100% !important;
}
#loading-indicator .loading-image {
    margin-left:45%;	
}