@marketplace-icons-admin__font-name-path: '@{baseDir}fonts/marketplace/icomoon';
@marketplace-icons-admin__font-name : 'marketplace';
.font-face(
@family-name:@marketplace-icons-admin__font-name,
@font-path: @marketplace-icons-admin__font-name-path,
@font-weight: normal,
@font-style: normal
);
.admin__menu .item-marketplace.parent.level-0 > a:before {
  font-family: @marketplace-icons-admin__font-name;
  content: "\e800";
}